[2019-01-14 13:07] dantownsend opened #1 "ASGI middleware"
ASGI middleware for creating / deleting connection pools.

[2019-01-14 14:08] dantownsend opened #2 "Breaking down into separate libraries"
Ideally:

- piccolo (all core ORM functionality)
- piccolo migrations
- piccolo auth (User model and auth middleware)
- piccolo CLI (other components can register commands with piccolo for use in a terminal)
- piccolo admin (UI on top of piccolo)
- piccolo scaffold (creates a basic app from these components)
- piccolo playground (sandbox for trying out queries)

[2019-09-13 20:19] dantownsend commented on #1
Fixed - can setup connection pools in startup event of most asyncio frameworks.

[2019-09-13 20:19] #1 closed

[2020-05-24 21:14] dantownsend commented on #2
Sorted this - have the concept of Piccolo apps now, which helps make it modular.

[2020-05-24 21:14] #2 closed

[2020-05-24 21:16] dantownsend opened #8 "BETA TESTERS"
Piccolo is now used in production on several projects. I've been hesitant to promote it until the API is stable, but it's now very stable. I'd appreciate any beta testers, who will install the library, provide feedback on the docs, and highlight any issues they have.

[2020-06-23 00:20] Gazorby commented on #8
Hi!

First, thanks for this project!

I started using piccolo on a new project and I really like the SQL like syntax, auto migrations, modularization and the overall simplicity without doing too much under the hood.

In the docs, `Authentication>Registering the app`, it says to add `piccolo.apps.user.piccolo_conf` to the `AppRegistry`, but shouldn't it be`piccolo.apps.user.piccolo_app` instead? I

[2020-06-23 07:25] dantownsend commented on #8
Hi Matthieu! Thanks for the feedback, it's much appreciated.

With regards to your first point - good catch, that is a typo, which I will fix shortly.

There is currently a limitation with auto migrations when adding a new column to an existing table, it has to be set to ``null=True``. I'll add this to the docs, and will create an issue to get this rectified.

With the ``save`` method, it can be a

[2020-06-23 07:43] dantownsend opened #9 "Auto migrations and adding non-nullable columns to existing tables"
For now, auto migrations only support adding nullable columns to existing tables. This needs changing, so non-nullable columns also work.

[2020-06-23 09:49] Gazorby commented on #8
Thanks for your explanation about the `save` method, I understand better how to use it.

Some other questions that comes up to me :

- Regarding the schema : is there any side effects when extend an existing table by inheritance? For example I extended the `BaseUser` table to add some fields, but I wonder if it's not better to use a foreign key or if it's just depends of the use case.

- It is pos

[2020-06-23 10:12] dantownsend commented on #8
I'd recommend using foreign keys to other tables, rather than inheritance at this time. Inheritance should still work, but there are some tricky edge cases.

Take this example - Piccolo auto migrations don't currently know that ``NameMixin`` is just an abstract table which shouldn't be created in the database:

[code]
The workaround for now is to use [tags](https://piccolo-orm.readthedocs.io/en/la

[2020-07-21 16:00] #9 closed

[2020-09-20 21:11] dantownsend opened #10 "Roadmap"
- [x] JSON fields
- [ ] More aggregation functions - e.g. SUM
- [x] Aliases in SELECT queries (e.g. `SELECT foo AS bar FROM my_table`)
- [ ] Improved support for data migrations
- [x] Fixtures
- [x] Schema visualisation tool
- [x] `piccolo sql_shell new` command - execute SQL directly in a shell, via the configured engine
- [x] `piccolo shell new` command - like the playground, but for your own ta

[2020-09-20 21:13] dantownsend opened #11 "Support more Postgres versions in Travis CI"

[2020-09-20 21:17] dantownsend commented on #10
Please feel free to suggest features for the roadmap.

[2020-10-02 07:42] sinisaos commented on #8
Hi Dan!
I’m not a professional, but I love trying out new libraries and I really like your project. There were no problems on localhost and everything works really well (migration, admin, etc.) but when try deploy site on Heroku (free account), I had two problems.
The first problem was heroku postgres (hobby / dev) SSL check failed for asyncpg, but I can fix this as sugested on https://github.com/

[2020-10-02 11:15] dantownsend commented on #8
@sinisaos Thanks for trying the project out - I'm really impressed with the app you've built.

I haven't tried it with Heroku yet. When I use SSL with a version of Postgres I've installed myself it seems OK, so I need to investigate further.

With the admin, did you create the user using ``piccolo user create``?

Have you posted your project on the Encode forums? I think other people would be inte

[2020-10-02 12:16] sinisaos commented on #8
First of all thank you for liking app, I really appreciate it.

Yes. I used `piccolo user create` to create the administrator and everything is fine in the database. The user was created successfully, and the admin column was set to True. Checked it in the postgres console.

Feel free to use anything from the github repo if you find something interesting.

Thanks for putting the link in the piccol

[2020-10-02 15:44] dantownsend commented on #8
@sinisaos I ran it locally, and it worked great for me. I just updated the requirements file slightly - have opened a pull request. The admin is a bit vague if login fails. I'll try and make it more helpful.

[2020-10-02 16:18] sinisaos commented on #8
I see that you have cleaned and updated the requirements.txt (I'm just pip freeze my whole virtualenv), but for example I need bcrypt for auth non admin users. Maybe we did not understand each other but like I previously wrote admin works perfectly locally but does't work on Heroku.

[2020-10-02 16:20] dantownsend commented on #8
@sinisaos Ah, I see! My bad. Feel free to ignore that pull request. Time for me to get a Heroku account!

[2020-10-02 16:25] sinisaos commented on #8
@dantownsend No problem and thanks for your time to investigating. Heroku is really good for free account and you can deploy 5 apps.

[2020-10-02 16:43] sinisaos commented on #8
@dantownsend When I have time I will try to deploy piccolo-admin example to Heroku. There may be a conflict between piccolo authentication and my user authentication although it doesn't make sense because picollo-admin is standalone asgi app mount to starlette app.

[2020-10-02 17:26] dantownsend commented on #8
@sinisaos Thanks. It might be that Heroku is stripping or malforming the headers, and CSRF is failing as a result. This can happen when a request gets redirected. I'll have a look.

[2020-10-03 05:49] sinisaos commented on #8
First of all thanks for putting link to app in piccolo docs.
I can confirm that neither piccolo-admin example does't work on Heroku. Same problem.

![console](https://user-images.githubusercontent.com/30960668/94984336-3da76a00-054b-11eb-8ec1-d03a10204a82.png)

If you want I can post .har file from chromium or send you as email.

[2020-10-03 11:01] dantownsend commented on #8
@sinisaos Thanks for that. I see the problem now - it's with the CSRF middleware. When serving under HTTPS, the CSRF middleware requires an``allowed_hosts`` argument, which currently isn't exposed by ``create_admin``. I haven't encountered this before, as I tend to deploy it behind Nginx (Nginx terminates the HTTPS, and proxies to the admin as HTTP). I'll work on a fix - it won't take long.

[2020-10-03 12:50] sinisaos commented on #8
@dantownsend Great. I will try and confirm if it works or not.

[2020-10-03 14:16] dantownsend commented on #8
@sinisaos I've released a new version of Piccolo admin - version 0.10.1.

If you add an ``allowed_hosts`` argument to ``create_admin`` then hopefully it should work!

[code]

[2020-10-03 14:44] sinisaos commented on #8
@dantownsend  Wow! You found the bug really fast and fixed it. Everything works now. Thanks

![Screenshot from 2020-10-03 16-42-34](https://user-images.githubusercontent.com/30960668/94994378-7705c700-0597-11eb-9180-62380d9ba092.png)

[2020-10-04 06:39] dantownsend commented on #8
@sinisaos Cool, glad it's working. Let me know if you encounter any other issues, or have any ideas for improvements.

[2020-10-04 08:31] sinisaos commented on #8
@dantownsend Thanks again for a great project. I really enjoyed our conversation. The best thing about piccolo orm is the simplicity and ecosystem. User can make a fully functional app very quickly and that is biggest strength of piccolo.
I'l try to write more apps and if I encounter any problem i'l posted here.
For improvements maybe aggregation but why bodther because every thing is easely can w

[2020-10-08 12:25] sinisaos commented on #8
Hi Daniel,
I made new piccolo example app and if you like it you can put in piccolo_examples repo. Maybe it be useful to someone.
https://github.com/sinisaos/starlette-piccolo-rental

[2020-10-08 14:53] dantownsend commented on #8
@sinisaos Great work! I cloned it and got it working.

I made a couple of small changes:

 * In `piccolo_conf.py` I added `'ads.piccolo_app'` so the migrations would run for it.
 * I had to comment out `pkg-resources` from requirements.txt as I think it's Ubuntu/Debian specific - see this [link](https://stackoverflow.com/questions/39577984/what-is-pkg-resources-0-0-0-in-output-of-pip-freeze-comman

[2020-10-08 15:45] sinisaos commented on #8
Thank you very much.

- I probably accidentally deleted 'ads.piccolo_app' from piccolo_conf.py because I was able to run migrations.

- I know about pkg-resources because Heroku always complains that he doesn't recognize the package.

I will fix this, add README.md and try deploy to Heroku.

[2020-10-09 06:09] dantownsend commented on #11
Postgres 9.6 to 12 now supported - waiting for Postgres 13 to become available.

[2020-10-13 15:45] dantownsend opened #14 "Testing documentation"
There isn't any documentation yet around testing with Piccolo. It's possible by using the PICCOLO_CONF environment variable, to specify a different configuration file containing settings for a test database.

One of the best sources of examples on Piccolo testing, are Piccolo's own tests.

[2020-11-05 13:43] uwinx opened #15 "Support direct .__await__"
Hey there, seems like a nice library. It's just a small suggestion and opinion, but you can add `__await__` for the queries, instead of kind of an annoying `.run` every time

[code]

Suggestion related to `picollo/query/base::Query`

[2020-11-05 20:26] dantownsend commented on #15
@uwinx That's a great suggestion - thanks. The original design intention for Piccolo was to make it as explicit as possible when database queries were actually being made. Some existing ORMs do database queries when accessing properties etc, which can lead to performance issues. But I have to admit, the explicit `.run()` can be a pain, and I sometimes forget it.

And as you're calling `await` on t

[2020-11-05 21:19] sinisaos commented on #15
@uwinx Maybe is annoying and sometimes I forget to call `.run()` but I like explicit way to run query because I know exactly what need to do. And like docs say's - "Until you execute one of those methods, you can chain as many methods onto your query as you like, safe in the knowledge that no database queries are being made." I look at that like advantage.

[2020-11-05 22:50] dantownsend commented on #15
@sinisaos Yeah, there are pros and cons to each approach.

The chaining of methods will still work, with or without the explicit `.run()`:

[code]

I'm thinking of merging the changes in, and having it as a convenience. What do you think?

The question then becomes - would you do the same thing for the synchronous version. You could set the `__call__` method for `Query`, and then do this:

[code]

[2020-11-06 06:02] sinisaos commented on #15
@dantownsend Async way looks good and there is good convenience while the functionality stays the same. But Piccolo provide both Async and Sync support and you're right about the Sync way looks weird.

Personally, I like the explicit `.run()` and `.run_sync()`.

[2020-11-06 10:31] dantownsend commented on #15
@sinisaos I'll keep `.run()` as the default way of doing things in the docs. It makes it slightly more future proof, as `run()` can accept arguments - currently it's just whether or not to run the query in a connection pool, which is mostly used for testing purposes, but there may be other arguments which need to be added in the future. The `__await__` magic method can be there as a convenience, f

[2020-11-06 10:46] uwinx commented on #15
@dantownsend, off-topic:
where can I reach you (any social media telegram/discord/etc.)? I'm interested in contributing to project

[2020-11-06 14:27] dantownsend commented on #15
@uwinx Of course, that would be great. I’m quite old school, so email is the most reliable way to contact me - dan at dantownsend.co.uk

I’m @pypower on Discord. I’m open to other suggestions in terms of best platforms to collaborate with.

[2020-11-08 07:37] dantownsend commented on #15
@sinisaos I've setup a Discord server for talking about Piccolo development. Most discussion will still happen here on Github, but if you're a Discord user and would like me to add you, let me know :)

[2020-11-08 08:41] sinisaos commented on #15
@dantownsend I'm not a Discord user and I don't use any social media :). You may want to consider using [Gitter](https://gitter.im/) chat  because you only need a Github account to create a community and then just add a chat link to Piccolo website.

[2020-11-08 09:16] dantownsend commented on #15
@sinisaos Good suggestion - I'll take a look.

[2020-12-12 10:04] NomeChomsky opened #22 "Installation fails using Poetry because of dependency mismatch."
[code]

Poetry is really annoying that way - but otherwise is a great tool. Would be great to get this fixed.

[2020-12-12 11:16] dantownsend commented on #22
@NomeChomsky Thanks for the heads up. I don't use Poetry personally, so haven't encountered this problem, but I know it's a popular tool. I'll fix it by loosening the dependencies a bit.

[2020-12-12 18:27] dantownsend commented on #22
@NomeChomsky Try version 0.10.4 of Piccolo Admin - I've loosened the dependencies. Hopefully that solves the problem.

[2020-12-13 03:18] NomeChomsky commented on #22
Fantastic dan.

So far so good with Piccollo. I've been looking for a tool like this - tightly coupled on the back end, with migrations, and loosely coupled on the front.

Piccollo looks promising, and I'm going to see how far I get with a project using it. I must say, I'm an SQL novice. I researched lots of python frameworks which are tightly coupled on the back end. Piccollo looks great. One fea

[2020-12-13 03:21] NomeChomsky commented on #22
To add - I think the command integration is also a very nice idea, and it works nicely. The idea that there's 'a correct way' to integrate table modelling into the project, and that Piccollo will bring that template in is very nice. It's a nice mix between Django 'this is how its done' styling, and Flask's micro framework style. It strikes me as a nice balance.

The Admin tool is the icing on the

[2020-12-13 19:16] dantownsend commented on #22
@NomeChomsky I haven't used Emmett before, but just had a look at the docs. With the foreign key relationships in Piccolo, the ``ForeignKey`` column references another ``Table`` subclass.

[code]

If you need to have tables which reference themselves, you can do it like this:

[code]

I see your point though about using string representations, because with very complex schemas you may get circular

[2020-12-14 07:12] satishdash opened #23 "Is there support for columns that take enums as type (like postgres has!)"
Is there a support for enum types in piccolo? or an approach to achieve it like `DjangoMixin`. This just an enquiry didn't have a forum to ask for help hence posting it here.

Thanks! Awesome work btw.

[2020-12-14 07:15] satishdash commented on #23
In addition, I'm starting to use piccolo over Sqlalchemy because alembic is great but it misses few migrations.

[2020-12-15 06:39] dashsatish commented on #23
Any thoughts on this?

[2020-12-15 07:42] sinisaos commented on #23
@dashsatish I don't think that for now Piccolo have that feature but probably Daniel know better. Maybe is easiest workaround is to use reference table and pass FK to table you need. Piccolo has nice [Readable](https://piccolo-orm.readthedocs.io/en/latest/piccolo/schema/advanced.html#readable) feature to present nice dropdown in Piccolo admin. Sorry if I miss your point.

[2020-12-15 07:43] dantownsend commented on #23
@satishdash Thanks for your interest in the project. As @sinisaos says, Piccolo doesn't currently support enums unfortunately. The best way to handle it for now is a foreign key to a separate table, or to handle the validation in your app somehow.

I don't think it would be too hard to add for Postgres, so I'll put it on the roadmap.

[2020-12-15 09:17] dashsatish commented on #23
Exactly! just wanting to know your thoughts on this on how to handle it. And yes since postgres is the most used RDMS DB store, it'd be a good add. But thanks for the suggestions anyways.

[2020-12-22 07:46] dashsatish commented on #23
Please go ahead and close this!

[2020-12-22 07:51] dashsatish opened #28 "[Need a fix] Migrations exit with code 1 when no migrations are left to run"
Hi,
Currently `piccolo migrations` exits with code `1` even if there are no migrations left to run.

Output:
[code]

Can this be made defensive so that the cli returns a code `0` instead of exiting with `1`?? Exit 1 kind of indicates one or migrations have failed.

[2020-12-22 07:53] #23 closed

[2020-12-22 14:01] dantownsend commented on #28
@dashsatish That's a good point - I've created a fix, and will do a release later today.

https://github.com/piccolo-orm/piccolo/pull/29

[2020-12-22 14:45] dantownsend commented on #28
@dashsatish Fixed in version 0.14.9, now on PyPI. Thanks for reporting this issue!

[2021-01-01 05:33] 99hats commented on #10
Nice project!
How about row level security?
Also, +1 for Allow the ForeignKey references argument to accept a string such as 'my_app.SomeTable' when circular imports are an issue.

[2021-01-01 15:44] dantownsend commented on #10
@99hats Thanks for the feedback. Accepting ``ForeignKey`` references as strings is in progress as we speak, and will be in the next release. How do you envisage row level security working? I could add a way to define the policies, and run them when creating tables / running migrations.

[2021-01-01 18:45] 99hats commented on #10
@dantownsend That sounds great. It could also be added to the web admin. Here's how supabase.io (a firebase clone using postgres) implements it on web admin: https://supabase.io/docs/guides/auth#row-level-security

[2021-01-02 09:55] #28 closed

[2021-01-02 10:01] dantownsend commented on #22
FYI, there's a fix for this in Piccolo 0.14.10 - ``ForeignKey`` can now accept strings, which should prevent circular dependency issues.

[code]

https://piccolo-orm.readthedocs.io/en/latest/piccolo/schema/column_types.html#foreignkey

[2021-01-02 10:13] dantownsend commented on #10
@99hats Thanks for the link - I'll take a look at how they're doing it.

There's a fix for the circular dependency issue in Piccolo 0.14.10 - ``ForeignKey`` can now accept strings.

[code]

https://piccolo-orm.readthedocs.io/en/latest/piccolo/schema/column_types.html#foreignkey

[2021-01-03 20:55] 99hats commented on #10
@dantownsend Awesome, I swear all of my projects have circular dependencies. Thank you!

[2021-01-04 07:41] dashsatish opened #32 "[Need a suggestion/Fix] "id" field seems to be too tied to integer type"
Hi,
Can the `id` field be allowed to be redefined in the child table/model with a different type.
- Need it to be UUID which is also supported in postgres? But piccolo doesn't allow it to be changed. So all I had to do was use my own field with a `unique` constraint.
- Moreover, can we not have composite primary keys? is there a way to define?

[2021-01-04 07:45] dashsatish opened #33 "[Need a fix] Boolean field with a default value is never overwritten"
Hi,
Currently when I define a boolean field in a table/relation/model with a default value as `True`. Even while creating a record it still doesn't overwrite with a value other than the default value.
Example: passing `False` doesn't create a record with the boolean attribute value as False it still stays True if the default was provided as True.

- If possible, please do verify with other fields

[2021-01-04 08:23] dantownsend commented on #33
@dashsatish Thanks for reporting this. I've been able to replicate it, and have a fix. I'll get it released today.

[2021-01-04 10:56] dantownsend commented on #33
@dashsatish There's a fix now on PyPI - version 0.14.11.

[2021-01-04 11:01] dantownsend commented on #32
@dashsatish This is a tricky change, which I'll need to think carefully about. I've added it to the roadmap, and will see if I can build a proof of concept. For now, having a separate UUID column is the best workaround.

[2021-01-04 14:05] #33 closed

[2021-01-05 06:49] dashsatish commented on #33
Thanks a lot! @dantownsend

[2021-01-05 23:07] david-alm opened #36 "Duplicate index creation"
Tables containing indices trigger a `DuplicateTableError` even when passed the `if_not_exists=True` argument.

[code]

This causes the following error:
`asyncpg.exceptions.DuplicateTableError: relation "example_value" already exists`

[2021-01-06 00:14] dantownsend commented on #36
@david-alm Hi David, thanks for reporting this.

I've been able to replicate this error. It should be a pretty simple fix, so will have it fixed soon.

[2021-01-06 07:36] dantownsend commented on #36
@david-alm It should be fixed now - version 0.14.12 on PyPI, thanks.

[2021-01-06 07:36] #36 closed

[2021-01-08 16:40] dashsatish opened #39 "[Need a fix] Migrations fails when date column's default is specified as `None`"
Hi,
When column type is Date(null=True, default=None). Migration fails!

Snippet:
[code]

Content of migration file that failed:
[code]

[2021-01-08 17:20] dantownsend commented on #39
@dashsatish Thanks for reporting this. There's an error in the SQL generated by the migration. I've got a fix, and will release it soon.

[2021-01-08 19:23] #39 closed

[2021-01-08 19:24] dantownsend opened #41 "Try Github Actions"
Explore using Github Actions for CI.

[2021-01-08 19:29] dantownsend commented on #39
@dashsatish It's fixed now - v0.14.13 on [PyPI](https://pypi.org/project/piccolo/0.14.13/). Thanks!

[2021-01-16 08:55] alik472 opened #43 "How to make a subquery?"
Hello,

I read all the docs and could not find how to make subqueries. Do you have this functionality?

Thank you

[2021-01-16 10:45] dantownsend commented on #43
@alik472 It's not possible at the moment unfortunately.

Can you tell me what your use case is, and the kind of syntax you'd need? I may be able to add it.

The best workaround for now is to use a raw SQL query `await MyTable.raw('some sql query')`.

[2021-01-16 11:13] alik472 commented on #43
To give brief intro, I mainly use Flask-Sqlalchemy package as my orm choice. The following is a sample code that  I am working on currently. As you can see I use subquery to get sum of details, which I use in SalesInvoice model. Subquery is used in the last line. If you need more clarification, feel free to ask.

[code]

[2021-01-16 23:22] dantownsend commented on #43
@alik472 Thanks for sharing the code. It's quite a complex query, and not possible currently.

I'll add subqueries to the roadmap, and will have a think about how it can be added in a user friendly way.

For now your best bet is to use raw SQL for that.

[2021-01-16 23:23] #22 closed

[2021-01-16 23:23] #15 closed

[2021-01-17 19:40] #43 closed

[2021-01-18 01:51] 99hats commented on #10
@dantownsend Are you considering modeling one-to-many and many-to-many relationships?

[2021-01-18 11:06] dantownsend commented on #10
@99hats Good question - I haven't quite decided yet. I created a discussion for this https://github.com/piccolo-orm/piccolo/discussions/44 I'm interested to hear your opinion on it!

[2021-01-20 05:55] dashsatish opened #45 "[Need a fix] Migration creation fails when there are no new migrations to be generated"
[code]

As you can see when a new migration is attempted for creation it fails. Should be idempotent I believe. Instead of exiting with error code **1**, can it be fixed with **exit 0**?

[2021-01-20 08:24] dantownsend commented on #45
@dashsatish You're right - it would be better if it returned a 0 status code. I've changed this now - will be on PyPI soon. Thanks!

[2021-01-20 19:37] #45 closed

[2021-01-21 07:51] dashsatish opened #47 "[Need suggestion] Is there a paginator support in piccolo like DRF cursor paginator?"
Hi,
I couldn't find any links in the docs that support pagination in piccolo. Is there any support for it which I can integrate with my FastAPI server endpoint? (Mostly looking on the lines of Django (DRF) like pagination support!)
Even thought of writing my own paginator but before that wanted to check with you @dantownsend if there's any other suggestion on this.

[2021-01-21 12:08] dantownsend commented on #47
@dashsatish Piccolo currently supports `offset` and `limit` query clauses.

 * https://piccolo-orm.readthedocs.io/en/latest/piccolo/query_clauses/offset.html
 * https://piccolo-orm.readthedocs.io/en/latest/piccolo/query_clauses/limit.html

This isn't an ideal way of doing pagination, because using offset for pagination is bad performance wise.

As you mention, cursor based pagination would be far

[2021-01-21 18:11] ideentwickler opened #48 "filter between datetime range"
django orm
`startdate = datetime.now() - timedelta(days=7)`
`enddate = datetime.now()`
`Model.objects.filter(created_at__range=[startdate, enddate]`

is there already a possibility to run this with piccolo without a need for raw sql?

[2021-01-21 19:01] sinisaos commented on #48
@ideentwickler I think you could do something like this
[code]
[where()](https://piccolo-orm.readthedocs.io/en/latest/piccolo/query_clauses/where.html) is really powerful in Piccolo

[2021-01-26 06:32] zhanghaofei opened #50 "Windows may not support file names ":""
![image](https://user-images.githubusercontent.com/14348610/105808693-294c1900-5fe3-11eb-89fc-3f22d11a6c25.png)

[2021-01-26 09:21] dantownsend commented on #50
@zhanghaofei Thanks for reporting this.

I haven't tested it much on Windows, but this is a fairly easy fix.

I'll replace the colons with underscores. The file names don't really matter - just what's inside.

Out of interest, are you using PowerShell, or Windows Subsystem for Linux?

[2021-01-26 09:29] zhanghaofei commented on #50
Yes, but it makes it impossible to clone the code.I am using PowerShell, I have tried WSL2 is normal, can be cloned into the code, but back to PowerShell and the file manager is still a problem, as shown below:
![image](https://user-images.githubusercontent.com/14348610/105826719-01b57a80-5ffc-11eb-9875-0507c0ce5f87.png)

[2021-01-26 09:34] dantownsend commented on #50
I see - I should be able to fix this today. I just need to rename those files to they include underscores instead of colons, and make it so new migration files don't include colons.

[2021-01-26 11:39] #48 closed

[2021-01-26 23:27] dantownsend commented on #50
@zhanghaofei I've changed any filenames containing colons. Can you verify that cloning the repo works for you? If so I'll push the changes to PyPI - thanks!

[2021-01-27 01:07] zhanghaofei commented on #50
I have verified it. It is normal. Thank you

[2021-01-28 00:00] dantownsend commented on #50
The changes are on PyPI now. If you encounter any other issues with Windows let me know.

I need to try and setup Windows testing as part of the CI pipeline.

[2021-01-28 11:57] #50 closed

[2021-02-02 18:56] Fingel opened #55 "Implementing custom column types"
Hello,

I just recently stumbled upon Piccolo and I'm very impressed so far with how much thought and effort has been put into it. Modern Python desperately needs an ORM that can keep up with the next generation of web development libraries. Piccolo looks to be well on it's way to fill that need.

I have a project in mind that I could use Piccolo with, but it does have a use case that requires the

[2021-02-02 23:39] dantownsend commented on #55
@Fingel Thanks for the kind words.

You're right - it should be possible to create custom column types without too much hassle by subclassing `Column`. I should mention this in the docs.

I don't know much about the Geography column type, but you'll probably need something like this:

[code]

I'm interested to know how you get along. If you're able to implement PostGIS functionality, I'd like to m

[2021-02-03 00:04] Fingel commented on #55
Hi @dantownsend ,

I did start our writing something that looks like your example. I wanted to make it easy on myself to I defined a `Point(Column)` which looked a lot like your example, with plans to generalize into full Geography type later.

The first issue I ran into when trying to create a migration was this:

`module 'piccolo.columns.column_types' has no attribute 'Point'`

https://github.co

[2021-02-03 00:38] dantownsend commented on #55
@Fingel I think those issues are all solvable, but will require some changes to Piccolo.

1. Custom column types could be registered in `piccolo_conf.py`, which solves the migration issue.
2. In terms of adding custom methods like `ST_Dwithin`, the best analogy so far is the `JSONB` column type, which has an `arrow` method. Something similar to this could be implemented.
3. With raw SQL in where c

[2021-02-03 15:39] dashsatish opened #56 "[Need a fix/suggestion] Altering a timestamp column to timestampz column doesn't reflect in postgres"
Hi @dantownsend
I have a `Date` column/field which showed postgres datatype as `timestamp`. After altering the field type in the model to use
`Timestamptz`, it still shows `timestamp` instead of `timestamptz`. Can you please check. It also breaks insert statements.

[2021-02-03 23:49] Fingel commented on #55
Hi @dantownsend
I was able to implement geometry/geography columns in my fork here:
https://github.com/piccolo-orm/piccolo/compare/master...Fingel:feature/postgis_funcs?expand=1

Some questions:

1. geography fields in particular really need to use gist indexes instead of btree. I noticed that gist is referenced here: https://github.com/piccolo-orm/piccolo/blob/c0d34ea90639feeccb5edf27e8d7ec80cffa

[2021-02-04 00:26] dantownsend commented on #55
@Fingel You've made some great progress.

With the index types, it would be easy enough to expose this in the `Column` constructor as an `index_type` arg. What complicates matters is making it work with migrations, if someone was to change the `index_type`. It's not impossible to do, but anything which touches migrations usually takes a bit longer to implement.

The `PostgresEngine` has a `prep_da

[2021-02-04 00:30] dantownsend commented on #56
@dashsatish That's strange - I'll investigate and try and find a fix.

[2021-02-04 06:15] dashsatish commented on #56
I even see for floats the postgres type is `numeric` when created newly but on a case where there is a model change and we're changing the type of the field to `float`. It comes out as `float8` in the db which is a bit unusual.

On wider note could you please revisit on the column type classes once:
- Timestamp
- Timestamptz
- Float

(Irrespective of anything, I appreciate the amount and efforts y

[2021-02-05 07:05] rathourarv opened #59 "Filter not null values in where clause"
how can we filter not null values using piccolo?

example-:

Table Person :
                Name  |  Country
               Arvind  |  India
               Alien    |  NULL

I want to filter null values from the country column

    people = (
        Person.objects()
        .where(Person.country != None)
        .run_sync()
    )

expected: Arvind  |  India
actual:     empty list

[2021-02-05 07:23] dantownsend commented on #59
@rathourarv This is a bug - I have a fix and will release it shortly. The syntax you are using should work.

Thanks for reporting it.

[2021-02-05 07:47] rathourarv commented on #59
I guess this syntax should also work

people = (
    Person.objects()
    .where(Person.country is not None)
    .run_sync()
)

Correct me if I am wrong 🙂

[2021-02-05 08:02] dantownsend commented on #59
@rathourarv It's very tricky to make `is` and `is not` work, because there's no magic method for this operator, which can easily be overriden.

https://stackoverflow.com/questions/15399024/does-the-is-operator-use-a-magic-method-in-python

It might be possible, but I haven't figured out how yet.

[2021-02-05 08:24] #59 closed

[2021-02-05 08:34] dantownsend commented on #59
@rathourarv It's on PyPI now - give it a go, and let me know if you have any issues. Thanks!

https://pypi.org/project/piccolo/0.16.4

[2021-02-05 10:50] rathourarv commented on #59
Thanks @dantownsend It's working...🙂

[2021-02-05 21:37] dbanty commented on #10
Hello! 👋 I just finished reading through the Piccolo docs and am very excited to give it a try! I'm coming from SQLAlchemy which I generally use with FastAPI. Here are some questions / suggestions based on my reading:

1. Some documentation on how to add Piccolo to an existing application could be very useful. Right now I've run `piccolo asgi new` and am reading / moving around the generated code

[2021-02-05 23:28] dbanty opened #62 "Types for objects instances seem incorrect"
If I run `mypy` on a file like this, it complains that I can't use a Varchar like a `str`.

[code]

Similar issue if, say, trying to `json.dumps` a column of type `JSONB`. Leads to `# type: ignore` and `cast` all over the place.

I don't know how possible if at all it would be to properly annotate the columns in a way that type checkers will know what the proper type is for instances. But hopefull

[2021-02-05 23:29] dbanty opened #63 "Confusion on primary key behavior"
It seems like even though `primary` is an available argument to a `Column`, using it messes with migrations, preventing auto from working properly. Through some trial and error, I seem to have found that an `id` column is automatically added as the primary key to models. This wasn't at all clear to me in reading through the documentation.

I would like the ability to declare my own primary key col

[2021-02-05 23:29] dbanty opened #64 "Document JSONB Runtime Type"
In converting from SQLAlchemy, I was expecting that declaring a column as `JSONB` would make it auto-serialize to/from JSON for me (particularly with orjson since I included that optional dependency). It would be a good idea to indicate that this column expects and returns a `str` to prevent confusion, and potentially include an option to auto ser/de.

[2021-02-06 12:14] dantownsend commented on #62
@dbanty Yeah, this is something I want to get sorted.

I want Piccolo to work really well with MyPy, and this is the main pain point at the moment.

I'll try using `typing.cast` in `Table.__init__` to see if that helps.

[2021-02-06 23:44] dbanty commented on #62
I assume it'll be difficult because you'll either lose type annotations with the query syntax (I assume that Column == value in a `.where` returns something that the `.where` expects and not a bunch of bools) or end up with `Union`s at run time. This is a larger issue in general with ORMs I think since the Table definition is the same class as the Result but the types of the attributes are, by def

[2021-02-09 14:12] dashsatish commented on #63
@dbanty Please do have a look at https://github.com/piccolo-orm/piccolo/issues/32. I tripped on the same kinda issue.

[2021-02-09 14:41] dantownsend commented on #63
You're both right - I didn't realise this functionality was completely undocumented.

I've added docs for now, but hope to make it more configurable at some point.

[2021-02-09 17:01] ohmeow opened #67 "Is there an example of how to integrate piccolo into an existing fastapi application?"
Is there an example of how to integrate piccolo into an existing fastapi application?

Something along the lines of the examples in the fastapi docs [here](https://fastapi.tiangolo.com/tutorial/sql-databases/) and [here](https://fastapi.tiangolo.com/advanced/async-sql-databases/#connect-and-disconnect).

I'm interested in trying the ORM out as it reminds me a lot of how EntityFramework operates in

[2021-02-09 17:24] dantownsend commented on #67
Here's an example:

https://github.com/sinisaos/headless-forum-fastapi

It uses ``FastAPIWrapper``, which is a Piccolo thing, and lets you build a CRUD endpoint without writing much code.

However, that is totally optional - you can just write your own FastAPI endpoints manually.

I totally agree with your point though - more example projects are definitely needed. I'm working on a tutorial, but t

[2021-02-09 18:24] ohmeow commented on #67
Cool thanks.

Yah, I'm looking for something less magical (still getting my head around
your library) ... something where I can define all my database models in a
models.py, all my pydantic view models in a view_models.py, and a local
database session object I can use via dependency injection wherever I
like.  The structure of my particular application is closer to the
postgresql template availabl

[2021-02-09 19:15] Fingel commented on #55
Hi,

I think the raw where PR is great, I'm glad it was merged.

I still think a PostGIS extension for Piccolo would be great. For example, It would allow us to make working with GIS fields a little more user friendly by being able to leverage tools like Shapely to covert the textual representation of geometries into useful python objects. This would require installing additional dependencies you

[2021-02-09 20:55] dantownsend commented on #55
@Fingel I've made a couple of updates, which should make using custom column types easier.

 * You can now specify an `extensions` argument in `PostgresEngine`, and it will try and create that extension when the engine starts. This is currently in master.
 * I've just created a pull request, which should fix the issue of custom column types in migrations https://github.com/piccolo-orm/piccolo/pull

[2021-02-09 21:24] dantownsend commented on #56
@dashsatish I've been able to replicate this - working on a fix. Seems to be a general issue, where Piccolo can't convert column types in migrations.

[2021-02-10 00:25] Fingel commented on #55
@dantownsend This is good stuff! I will try factoring the GIS column types out of my fork and test it with #69. If it goes well and I can develop the columns as a separate package, that would be great. Why don't we see how that goes and if the package looks good enough we can consider merging it back into core?

[2021-02-10 08:17] dantownsend commented on #55
@Fingel Cool - makes sense.

[2021-02-14 16:56] dantownsend commented on #56
@dashsatish This should be fixed now in the latest version on PyPI - 0.17.0.

Migrations now detect when the column type has changed, and will try and update it in Postgres.

Postgres can't automatically convert all column types - for example, an `Integer` to a `Timestamp`, but it should work for most common use cases (e.g. `Varchar` to `Text`).

The fix works for new migrations - existing migrati

[2021-03-11 12:55] coder3112 opened #76 "[ENHANCEMENT] Add before_create, after_create, at_update, on_delete hooks for tables(schemas)."
## Issue
#### Currently when a schema is made, there is no way to run a function at time of creation. Although custom crud functions can be made, it would be better if some kind of functions ran at time of creation, deletion and update of the schemas through a pre_defined meta class.

## Minimal Use Case
[code]
Here, I would want that a function ``` foo_func and foo_func2 ``` be executed when it i

[2021-03-11 12:58] coder3112 commented on #10
Hey @dantownsend , what do you mean by fixtures in your original comment?

[2021-03-11 13:42] dantownsend commented on #10
@coder3112 Hi! In terms of fixtures, I was thinking of dumping existing database rows to JSON, and then being able to reload them again. Similar to `dumpdata` and `loaddata` in Django, but called `piccolo fixture create` and `piccolo fixture load`.

The easiest way to perform this serialisation / deserialisation is using something like Pydantic. In `piccolo_api` there's a function called [create_p

[2021-03-11 15:59] dantownsend commented on #76
@coder3112 It's a nice idea. What kind of things would you run in the functions though?

[2021-03-12 10:52] coder3112 commented on #76
These would fundamentally do the same things as ``` pre_save ``` & ``` post_save``` signals in django

[2021-03-12 16:33] dantownsend commented on #76
@coder3112 OK, I can see this being useful.

I guess that by having these functions, it's cleaner than overriding the `save` method for a `Table`.

I can imagine people putting some validation logic in there.

The limitation with the Django implementation is that it doesn't trigger for bulk updates. The same would have to be true here.

One thing to be aware of is Piccolo doesn't currently use a `

[2021-03-19 07:41] coder3112 commented on #76
Ok, so I can start working on a PR now. I guess it would change the ```run``` and ```run_sync``` functions.

[2021-03-19 07:47] dantownsend commented on #76
@coder3112 Yeah, sounds good - thanks.

[2021-03-23 22:06] dantownsend commented on #11
Fixed by moving to Github Actions.

[2021-03-23 22:06] #11 closed

[2021-03-23 22:07] #41 closed

[2021-03-26 11:32] coder3112 commented on #76
Ok, so finally got some time today. I have opened a PR #83 for the issue
Task checklist
- [x] - Write code
- [ ] - Write Tests
- [ ] - Write Docs

[2021-04-05 14:05] coder3112 opened #84 "[ENHANCEMENT] Create a proxy for where in the form of get"
## Problem
#### Write now, the code I have to write becomes lengthy and hard to read if there are multiple conditions.
Example:
[code]
The only thing I can do to make it better is:
[code]
This doesn't look quite as intuitive and is super difficult to read in case of larger queries where there are multiple ```OR``` and ```AND``` at different complexities.

## Solution I would like
A simple nice pro

[2021-04-05 18:32] dantownsend commented on #84
Yeah, it's a good idea. I think there are two options.

## Modifying the where method

The `where` method could be modified, so it accepts multiple arguments.

[code]

## Adding a get method

I like the idea of adding `get`.

[code]

So it does save quite a bit of boiler plate code. I think this method would be for returning a single matching row, in the same way as `MyModel.objects.get(id=1)` in

[2021-04-06 09:48] coder3112 commented on #84
I think the *``2nd``* method is best since it does not break existing functionality.
I think it could be simply implemented by doing something along the lines of:
[code]

[2021-04-06 22:02] dantownsend commented on #84
The first method could be implemented in a backwards compatible way. The `where` signature would just be changed from:

[code]

To:

[code]

If implementing option 2, it would then just be:

[code]

What do you think?

[2021-04-07 13:06] coder3112 commented on #84
Hmmm, yes, I think this is exactly what we need although ```.firrst()``` can be potentially problematic. Why not just return the entire queryset?

[2021-04-07 14:44] dantownsend commented on #84
It's just to mimic how `get` works in Django, and also in Python in general.

For example:

[code]

If all results are needed, it could be queried like `await MyModel.objects().where(a=1)`. Or maybe a method name other than `get` to avoid confusion.

[2021-04-07 15:16] coder3112 commented on #84
Okay, sounds great. Do you need a PR?

[2021-04-17 16:57] Fingel opened #85 "Running migrations programmatically"
Hello,

Is there a recommended way to run migrations programmatically, for example, when setting up a test suite?

It is possible to import `fowards` from https://github.com/piccolo-orm/piccolo/blob/master/piccolo/apps/migrations/commands/forwards.py#L83 but the code uses `sys.exit(0)` which kills the parent process.

I suppose one could shell out the command as part of setting up the test environ

[2021-04-18 21:31] dantownsend commented on #85
@Fingel You make a good point about `sys.exit` - I'll refactor it, so it can be run programatically.

[2021-04-23 16:52] Fingel commented on #85
I found that it's possible to catch the `SystemExit` exception which makes it technically possible to run `forwards` and `backwards` within python. For example, as a pytest fixture to run and reverse migrations before/after running tests:

[code]

[2021-04-24 18:01] cheesycod opened #88 "Using piccolo on legacy data"
Is there a way to have piccolo work on legacy database schemas (like managed = False in django)

[2021-04-24 20:47] dantownsend commented on #88
@cheesycod There should be no problems with this - just define the models in Piccolo, and it can connect to existing database tables.

If using Piccolo migrations, the first time you run them you might want to use the fake flag.

[code]

[2021-04-25 04:44] cheesycod opened #89 "Array support"
Postgres supports arrays like bigint array, integer array etc. It would be nice to have support for these perhaps similar to how Django does it with a base_field

[2021-04-30 06:49] dantownsend commented on #89
I've added Array support - you can get it on PyPI now.

[2021-04-30 07:04] dantownsend commented on #85
I refactored the migrations slightly, so you can run them without getting `SystemExit`.

[code]

Thanks for that code snippet - I need to document unit testing better at some point.

[2021-05-04 12:09] brnosouza opened #93 "Mixins not working as it should"
Hello,

I'm trying to use Piccolo to one of my project, amazing work by the way, and I may have found a bug. I didn't figure this out yet, but I'll post here If I find something.
I trying to implement the mixin pattern that I saw in the docs, however, when I execute any query, the collumns shows the name of the last class I included it, something like:

[code]

When I run a query for Class1, let's

[2021-05-04 12:32] brnosouza commented on #93
I think I found the issue, the problem lies in the Table.__init_subclass__ (I think is line 168), the column is not being copied, piccolo is only adding it as a reference, which means this part:
[code]

should be:

[code]
I tinkered a bit and just adding the copy to attribute fixed the issue.

[2021-05-05 05:43] sinisaos commented on #89
@dantownsend I try a new Array column and add it to an existing table like this `tags = Array(base_column=Varchar())`.
When I run `piccolo migrations new blog --auto` I get this error
[code]
Migrations with other columns work well. Am I doing something wrong or?

[2021-05-05 10:04] dantownsend commented on #89
@sinisaos I'll give it a go locally - this could be a bug.

[2021-05-05 12:58] dantownsend commented on #89
@sinisaos You're right, there was a bug with migrations when using the `Array` column type. I've pushed a new version to PyPI which should fix it. Can you give it another go when you have time? Thanks!

[2021-05-05 13:30] dantownsend commented on #93
@brnosouza Thanks for reporting this, and working out the solution. 👍

I'm just writing some unit tests to double check there are no side effects, and then I'll push the fix.

[2021-05-05 13:52] sinisaos commented on #89
@dantownsend No problem. I will post the results here when I try out the new version later tonight.

[2021-05-05 18:04] sinisaos commented on #89
@dantownsend `Array(base_column=Varchar())` now works perfectly. But for `Array(base_column=Integer())` I get this error
[code]

[2021-05-05 19:00] dantownsend commented on #89
@sinisaos Should be an easy fix - I'll investigate. Array columns are surprisingly tricky!

[2021-05-05 19:16] sinisaos commented on #89
@dantownsend But it is useful for filtering in admin or for example tags without M2M fields FK fields. And the Array widget in admin looks great.

[2021-05-05 19:25] dantownsend commented on #89
@sinisaos Thanks, I do think it's useful - like you say, for tags in particular. I've pushed a new version to PyPI - hopefully it fixes the Integer Array issue.

[2021-05-05 19:37] sinisaos commented on #89
@dantownsend Now everything works great. Thanks

[2021-05-06 14:32] brnosouza commented on #93
Awesome, thanks a lot for this :)

[2021-05-09 17:32] brnosouza commented on #93
@dantownsend the fix worked perfectly, I'll close the ticket :smiley:

[2021-05-09 17:32] #93 closed

[2021-05-09 17:55] brnosouza opened #98 "Join accross multiple tables"
Is there any way of joining multiple tables today? I was trying to connect to a table at 3 relations ahead and I couldn't found a easy way to do that or any way, actually

[2021-05-09 18:03] dantownsend commented on #98
Yes, it's possible.

If you try `piccolo playground run` it uses this schema:

[code]

So `Concert` has a `ForeignKey` key to `Band`, which as a `ForeignKey` to `Manager`.

You can then do this:

[code]

It only works with `select` and not `objects`. Does that help?

[2021-05-09 18:47] brnosouza commented on #98
yeah, kinda, I was trying to do this in a where clause, but my problem is that the joinable collumn is on the second table because my relation is a many-to-many.

[2021-05-09 18:58] dantownsend commented on #98
You can use a similar syntax in where clauses.

[code]

I think I understand your issue though. Can you share your schema, or something similar, and I'll try and figure it out.

[2021-05-09 19:07] brnosouza commented on #98
of course... here it is:

[code]

I'm currently using raw SQL, but yeah, I didn't want too :sweat_smile:

And I was holping to accomplish this:

[code]

[2021-05-09 19:45] dantownsend commented on #98
The many to many support in Piccolo is a bit limited at the moment, for queries like this.

I think the best way to achieve this is with two queries. Something like this:

[code]

[2021-05-09 22:20] brnosouza commented on #98
I see, cool, I'll take a look on that.
The many-to-many is on the roadmap, right? And is there anything I can help with? Because I loved the project and I feel I can do more than opening issues :sweat_smile:

[2021-05-10 09:42] dantownsend commented on #98
There was a discussion about adding Many-To-Many fields:

https://github.com/piccolo-orm/piccolo/discussions/44

The conclusion was that yeah, they should be added. It's a tricky problem though, which is why the progress has been slow. If you'd like to give it a go, that would be great.

[2021-05-18 20:33] kremrik opened #102 "PICCOLO_CONF environment variable clarification"
I'm working on a project where I want to maintain a directory structure like
[code]
Since my `piccolo_conf.py` file is no longer at the root of the project, I need to specify the `PICCOLO_CONF` environment variable. For the sake of clarity (and I'm happy to make a PR for this), is it valuable to add an example to the [docs](https://github.com/piccolo-orm/piccolo/blob/master/docs/src/piccolo/engine

[2021-05-19 10:25] dantownsend commented on #102
Hi @kremrik - you make a good point. I think it's worth adding this to the docs. If you're happy to prepare a MR for it, that would be great. Thanks!

[2021-05-19 20:59] kremrik commented on #102
You know what, it took me a few dozen passes over the documentation but I finally saw this hint in the docs. Not sure how I missed it for so long, but I don't think this requires any changes. Feel free to close!
![piccolo_hint_screenshot](https://user-images.githubusercontent.com/34952189/118883582-03f95880-b8bb-11eb-94d0-4ed7e7d066a9.png)

[2021-05-20 07:59] dantownsend commented on #102
I missed that too. The hint box probably isn't the best place for this.

[2021-05-23 15:48] cheesycod opened #103 "Choice fields (preferably supporting enums"
It would be nice if piccolo supported choices like django does, preferably using the python stdlib enum to make a dropdown

[2021-06-03 22:17] Fingel commented on #85
Works great!

[2021-06-03 22:17] #85 closed

[2021-06-04 12:36] NewDay1313 commented on #8
`class Patients(Controller):

    @post("/patients")
    async def patients(self, data: FromForm[Login]) -> Response:
        data = data.value
        if (Doctors.select().where(Doctors.login == data.login).run()) and (Doctors.select().where(Doctors.password == gen_hash(data.password)).run()):
            patients = Patients.select().run()
            response = self.view("patients" ,{"patients":

[2021-06-04 12:44] dantownsend commented on #8
@NewDay1313 Looks like there's a table called `Patients` but also a controller called `Patients` - looks like the controller is being called when you want the table instead.

You could do `from my_tables import Patients as PatientsTable` and call `await PatientsTable.select().run()` instead.

[2021-06-05 07:16] cheesycod opened #106 "ForeignKeys should allow supporting different types"
Right now foreign keys use the int type for values. It would be nice if another type could be specified like bigint or something else

[2021-06-05 07:59] #106 closed

[2021-06-05 08:57] cheesycod opened #107 "Allow using uuid instead of integer for the id column"
Right now piccolo admin returns a weird ID when uuid is used as a primary key

![4C6CC5B0-40D8-4AF6-804C-F1B6567D39F7](https://user-images.githubusercontent.com/66250972/120886158-294fcb80-c60a-11eb-9d10-64b7b3b3de1b.png)

[2021-06-05 14:34] NewDay1313 commented on #8
Thank you :)

[2021-06-08 16:29] Anonymous1313-tech opened #108 "How about Form_generator?"
How about form generator for piccolo models? I think it would be awesome if there was function something like greate_form(piccolo_table)!

[2021-06-08 18:03] dantownsend commented on #103
Implemented in latest version of Piccolo.

[2021-06-08 18:03] #103 closed

[2021-06-08 18:09] dantownsend commented on #108
The best option currently is to use Piccolo Admin. I know you're having issues with it on Windows, but it's worth trying to get it running.

There's no support for anything like [WTForms](https://wtforms.readthedocs.io/en/2.3.x/) at the moment.

Piccolo API has a function called `create_pydantic_model` ([see docs](https://piccolo-api.readthedocs.io/en/latest/crud/serializers.html?highlight=pydanti

[2021-06-08 18:11] dantownsend commented on #107
I haven't tried this before - I tend to use integers as the primary key.

I'll give it a go, to try and understand what's going on.

[2021-06-14 04:17] cheesycod commented on #107
@dantownsend it appears to try and make the uuid a integer which somehow succeeds

[2021-06-14 19:05] NewDay1313 opened #111 "Migration error"
Running Postgres version 13.3
Running migrations ...
All migration ids = ['2021-06-14T23:35:51', '2021-06-14T23:45:55', '2021-06-14T23:53:23', '2021-06-14T23:57:34']
Haven't run = ['2021-06-14T23:35:51', '2021-06-14T23:45:55', '2021-06-14T23:53:23', '2021-06-14T23:57:34']
Running MigrationManager ...
**The command failed.
user is a protected name, please give your table a different name.**

I don'

[2021-06-14 19:20] dantownsend commented on #111
@NewDay1313 Piccolo checks in case a `Table` has a tablename of `'user'`.  For example, either of these:

[code]

It's because `user` is a reserved word in Postgres, and having a table with the same name would cause issues.

Do you think that's the case here?

[2021-06-14 19:32] NewDay1313 commented on #111
Got it! It explains everything!

Definetly It takes place here!

[2021-06-15 07:00] #108 closed

[2021-06-15 15:29] Anonymous1313-tech commented on #111
So will you change that table name in piccolo?

[2021-06-15 16:47] dantownsend commented on #111
I don't think any of the builtin migrations for Piccolo use a tablename of `user`.

Check any migration files which Piccolo has created for you, in case any of the reference a table called `user`.

If you want you can paste the code here and I'll take a look.

[2021-06-20 19:53] heliumbrain commented on #67
If I'm able to pass my hurdles in #112, I'll be happy to do a write-up of a tutorial and publish an example. Leaving this comment here so I'll remember to check back and hold myself somewhat accountable :)

[2021-06-20 20:01] dantownsend commented on #67
@heliumbrain Thanks, I'd really appreciate that. Let me know if I can help in any way.

[2021-06-21 14:34] heliumbrain commented on #67
I've started setting this up here: https://github.com/heliumbrain/fastapi-piccolo

Won't have a lot of time for it this week, but I'll try to squeeze in a few hours.

[2021-06-21 17:19] dantownsend commented on #67
@heliumbrain Awesome, thanks for this!

[2021-06-22 18:23] heliumbrain commented on #67
@dantownsend. So I managed to get quite a lot of it up.. I think I found a nice balance between Piccolo magic and raw Starlette/Pydantic/FastAPI. Please let me know.

Still struggling with the auth tho, can't really wrap my head around how to inject it as a Dependency (a la FastAPI). Have a look at https://github.com/heliumbrain/fastapi-piccolo/blob/main/piccolo-fastapi/product/routers.py. With th

[2021-06-23 23:50] heliumbrain opened #115 "session_login trying to fetch login.html template for GET method"
I have the login endpoint mounted in my FastAPI like so:

[code]

Doing a GET request to /login/ throws a `TemplateNotFound` error

[code]

Full trace here: https://sentry.io/share/issue/2149cf3dcfce4585846ad47d672495e8/

I'm guessing this endpoint was designed to be used together with the Admin app and `create_admin()`, where the template is available?

Might be good to add a check that returns a

[2021-06-24 09:19] sinisaos commented on #115
@heliumbrain A quick fix is ​​to add a template folder (with login.html inside from [here](https://github.com/piccolo-orm/piccolo_api/blob/master/piccolo_api/session_auth/templates/login.html)) to your virtualenv site package (for example `/yourhomefolder/nameofvirtualenv/lib/python3.8/site-packages/piccolo_api/session_auth`). You can then go to /login/ and sign in user and redirect to any page yo

[2021-06-24 19:16] dantownsend commented on #67
@heliumbrain It's looking really good.

The way I use the Session auth is something like this:

[code]
I'm not sure how it would work as a FastAPI dependency - I need to look into it.

[2021-06-24 19:36] dantownsend commented on #115
@sinisaos Good suggestion.

Turns out the setup.py for piccolo_api had an issue, and wasn't including the template file. I've been caught out by this a few times.

https://github.com/piccolo-orm/piccolo_api/pull/44

Will push a new version for PyPI soon.

[2021-06-25 12:39] heliumbrain commented on #67
Cool, thanks! I'll look in to it a bit more too

[2021-06-25 15:51] heliumbrain commented on #115
Thanks @dantownsend. It's working as expected now :)

[2021-06-25 15:51] #115 closed

[2021-06-28 08:55] heliumbrain commented on #111
@dantownsend playing around with this last night I noticed that there might be some inconsistency in how the PROTECTED_NAME check is applied.

in piccolo/table.py:148
[code]

Can't figure out why, but it seems that tablename will always resolve to `cls.__name__`

For example, when inheriting from BaseUser:

[code]

The migrations are succesfully generated (using `piccolo migrations new my_app --au

[2021-06-28 20:05] dantownsend commented on #111
@heliumbrain You're right, there is an issue. Good catch.

The problem is here:

https://github.com/piccolo-orm/piccolo/blob/49562c2c94540c219f7b67ccaf180a3bbf48787d/piccolo/apps/migrations/auto/migration_manager.py#L562-L570

Piccolo creates a `Table` class, but only sets the tablename afterwards, so it's triggering this warning when the table is called 'user'. I'll have a read of the docs for `t

[2021-06-28 20:38] dantownsend commented on #111
Looks like `types.new_class` will do the trick:

https://docs.python.org/3/library/types.html#types.new_class

[2021-06-28 21:14] heliumbrain commented on #111
Yeah, looks good! I can have a shot at fixing it tomorrow, if you're not on it already @dantownsend :)

[2021-06-29 06:18] dantownsend commented on #111
Should be fixed now - I've push a new build to PyPI.

[2021-06-29 13:57] heliumbrain commented on #64
Related to [#49](https://github.com/piccolo-orm/piccolo_api/pull/49)?

This should work now, if flagging it correctly as mentioned in the PR

@dantownsend this can be closed I guess?

[2021-06-30 12:37] dantownsend commented on #64
Yes, I think it can be closed now. The JSON behaviour has been improved quite a bit in the latest release.

Copying the CHANGELOG here for reference. Thanks both.

-----------

With this schema:
[code]

We can now do the following:

[code]

Similarly, when fetching data from a JSON column, Piccolo can now automatically deserialise it.

[code]

[2021-06-30 12:37] dantownsend commented on #64
Closing for now

[2021-06-30 12:37] #64 closed

[2021-06-30 12:38] dantownsend commented on #111
Closing for now - let me know if the problem still persists. Thanks

[2021-06-30 12:38] #111 closed

[2021-06-30 14:19] heliumbrain opened #123 "Auto migration not working with JSONB fields"
Hello!

@dantownsend I'm afraid something in #122 made the migration manager sad at the sight of a JSONB field.

`piccolo migrations new blog --auto`
[code]

And with orjson:

[code]

It works fine with JSON. And both JSON and JSONB works in 0.23.0.

My knowledge of JSONB is very lacking, and I have no clue how to find the cause of this

[2021-06-30 14:35] dantownsend commented on #123
Hmm, strange. I can replicate this locally - will try and figure it out.

[2021-06-30 14:52] heliumbrain commented on #123
Indeed strange... I just tried creating a new project with a new venv and a newly scaffold ASGI app. It seems to work fine. This might just be my environment acting up. Sorry for the noise.

Will dig in to it a bit more though.

[2021-06-30 15:09] heliumbrain commented on #123
Ok, so it only seems to happen after adding a new JSONB field to a table...

In a completely new project, only installing dependencies and doing a ´piccolo asgi new´ with FastAPI and Uvicorn

[code]

[code]

Then after updating Table:

[code]

[code]

[2021-06-30 15:13] heliumbrain commented on #123
Hmm, it seems to happen no matter if you try to add a new JSONB (or any other field for that matter). Even running the `migrations --auto` command after a succesful run without changing the table gives the same error.

[2021-06-30 17:40] dantownsend commented on #123
@heliumbrain Should be fixed now - it's on PyPI. Give it a go when you have a chance.

I need to add a new Github action, which will try and run a big suite of migration files to catch these edge cases.

[2021-06-30 20:29] heliumbrain commented on #123
@dantownsend that's fast, great job :)

Working as expected now 👍

[2021-06-30 20:29] #123 closed

[2021-06-30 22:51] heliumbrain commented on #10
Hi! I've spent enough time with Piccolo the last week or so to get a decent grasp of it. Would like to give my feedback, even though all of it can't directly be translated to roadmap items.

First of all, I think it would make sense to split the roadmap in to 3 main areas, depending on what you envision for Piccolo in the next year or so.

### Providing a modern (ASGI) ORM

This would include the

[2021-07-01 15:03] #89 closed

[2021-07-01 15:17] dantownsend commented on #10
@heliumbrain Some great suggestions there, thanks. I've created a separate [discussion thread](https://github.com/piccolo-orm/piccolo/discussions/126) to explore these ideas more.

[2021-07-07 09:57] heliumbrain commented on #67
@dantownsend I'll be working a bit more on this the next few days. Hopefully I'll have a fully working example-repo and a demo up before the weekend. I'll let you know, would love to get your feedback when it's done

[2021-07-16 17:04] #102 closed

[2021-07-20 05:04] aminalaee commented on #107
@cheesycod Do you have this issue with `sqlite`?

[2021-07-21 06:54] aminalaee opened #137 "marking database engines as extras in setup.py"
It would be handy to only install the specific drivers for use and not install unused ones:

- `pip install piccolo` install core piccolo
- `pip install piccolo[postgres]` install piccolo + asyncpg
- `pip install piccolo[sqlite]` install piccolo + aiosqlite
- ...

Right now we make use of `extra_requires` in `setup.py`. I noticed `celery` has done the following project structure which is clean:

[

[2021-07-21 09:20] dantownsend opened #138 "Modify the Blacksheep template to mount Piccolo admin"
When I created the BlackSheep template, there wasn't support for mounting ASGI apps, such as the Piccolo admin. This is no longer the case, so requires a tweak to the template.

[2021-07-25 15:42] dashsatish opened #142 "[Question] Is there a capability to connect to multiple databases"
Django provides a capability to define `DATABASE_ROUTERS` in settings.
- It gives you a capability to define alias names in `DATABASES` for primary, replica*(1,2,3... so on).
- you can customize the connection to read from replicas whereas write only to primary.
- `QuerySet` object also provides assistance for this setting.
https://docs.djangoproject.com/en/3.2/topics/db/multi-db/

Is there such a

[2021-07-25 18:09] dantownsend commented on #142
@dashsatish The support for this is quite simplistic at the moment in Piccolo.

You can explicitly pass an `Engine` instance to a `Table` subclass, and it will use that for its queries. For example:

[code]

There isn't currently a way to dynamically switch between databases on a per query basis. For example something like this:

[code]
It would mean that `DB` in `piccolo_conf.py` would have to su

[2021-07-28 19:38] satishdash commented on #142
Django allows few class definitions(they call it routers) like db_for_read, write, allow_migrate. This facilities migrations or sets privileged operations on such instances.
If the ORM can support such a thing like you have described above it would be really great. Hope you glanced through the django docs that i have mentioned above. Is it feasible?

[2021-07-31 11:10] aminalaee opened #143 "Configuring event loop implementation"
As far as I know there's no way to set up any event loop other than Python's `asyncio`. And to my understanding if using `uvloop` performance will be improved.

I suggest we add `uvloop` as an extra dependency and maybe do one of the followings:
- Try using `uvloop` as default and if not available fallback to `asyncio`
- Pass the event loop to the engine confugarion
Or any other ways you can sugge

[2021-07-31 11:13] aminalaee opened #144 "Creating benchmarks for piccolo ORM"
I'm usually not a fan of benchmarks but I think it'd be a good idea to have some benchmarks comparing `piccolo` with other `sync`/`async` ORMs.
It will also help with cases like #143 comparing `piccolo` with itself with different configurations.

[2021-07-31 16:44] dantownsend commented on #143
@aminalaee Yeah, it's an interesting one. If running Piccolo as part of an ASGI app with Uvicorn, then Uvicorn will automatically set uvloop as the event loop implementation if it's installed:

https://www.uvicorn.org/settings/#implementation

If using Piccolo as part of a data science script, or synchronous web app, it would currently be up to the user to manually configure uvloop.

[code]

Picco

[2021-07-31 17:32] dantownsend commented on #144
@aminalaee  I like the idea of having benchmarks to catch performance regressions made by changes to the Piccolo codebase.

I find them quite tricky to implement though, as there's no guarantees around the performance of the CI infrastructure, so one build might be slower than another, without it being anything to do with the code being tested.

As for testing it against other frameworks, it's har

[2021-07-31 21:13] aminalaee commented on #144
@dantownsend
I think for testing different frameworks benchmarking basic INSERT/SELECT/UPDATE/DELETE without any configuration can be a good start. I agree that optmizing each framework can be complicated and probably unfair to others.

For regression testing Piccolo I think we can try pytest-benchmark and if the load of Github server affects the numbers go for dedicated hardware for testing. But

[2021-07-31 22:15] dantownsend commented on #144
@aminalaee Yeah, that makes sense. Do you think the benchmarks should be part of this repo, or a separate repo?

[2021-08-01 05:27] aminalaee commented on #143
That makes sense. I'll add it in.

[2021-08-01 05:35] aminalaee commented on #144
@dantownsend I'm not sure which benchmarks we're talking about.

 I think for comparing different frameworks we can have a separate repo so anyone can see how that works and run them locally. We would show benchmarks in Piccolo docs then. That would keep Piccolo's history clean.

And for Piccolo regressions I think `pytest-benchnark` can do a good job with a github workflow but as you said this is

[2021-08-01 08:34] aminalaee commented on #137
The structure is set up as part of #145

[2021-08-02 09:55] #143 closed

[2021-08-03 19:25] dantownsend commented on #144
Sounds like a good plan. It would be nice to have both, but having either of them would be useful.

[2021-08-04 06:23] aminalaee commented on #144
@dantownsend  If we want the extra repository for comparisons, then please create the repo and I'll start an MR to get it started

[2021-08-05 10:20] #138 closed

[2021-08-05 12:02] #107 closed

[2021-08-05 12:05] aminalaee commented on #32
@dantownsend Can this be closed?

[2021-08-05 12:05] aminalaee commented on #63
@dantownsend Can this be closed?

[2021-08-05 12:06] dantownsend commented on #32
@aminalaee yep

[2021-08-05 12:06] #32 closed

[2021-08-05 12:13] dantownsend commented on #63
@aminalaee Yes, in v0.29.0 a custom primary key column can now be specified.

[2021-08-05 12:13] #63 closed

[2021-08-05 19:28] laith43d opened #152 "Is it production ready?"
Hi,

I want to congratulate you on this successful project.

I came across Piccolo a few weeks ago. I use Django-Ninja to create APIs, moved from DRF for many reasons beyond this comment.

Django-Ninja benefits FastAPI with Django ORM and Admin; however, I believe Piccolo represents a huge potential to move back to FastAPI. I already tried it on one of my projects and absolutely loved it.

Despite

[2021-08-05 21:43] dantownsend commented on #152
@laith43d Thanks for the kind words.

As you mention, Piccolo is missing some features (mostly M2M columns, but I hope to add these soon).

I do think Piccolo is production ready. I use it for all of my own professional work, so am 100% committed to it being stable, and continuing to add features.

We rarely make backwards incompatible changes, and when we do they are very minor.

I can't promise

[2021-08-06 05:38] aminalaee opened #153 "Feature: Abstract Tables"
Implementing abstract tables to avoid repeating columns for the tables. Obviously the abstract tables are ignored in automatic migrations. It would be something like this:

[code]

[2021-08-06 07:07] aminalaee opened #155 "Enhancement: Add `alias` and `as_alias` to Count method"
Right now all aggregate functions implement `as_alias` method and have `alias` attribute except `Count` which contradicts the docs.
We would be able to do something like the following:

[code]

[2021-08-06 10:50] #155 closed

[2021-08-06 14:32] dantownsend commented on #144
Here's a repo in case you feel like doing some performance testing:

https://github.com/piccolo-orm/piccolo_performance

[2021-08-09 06:39] #137 closed

[2021-08-09 11:42] vctrd commented on #88
Hello,

following up on this question, would an inspection mechanism such as `python manage.y inspectdb` to create the models in Piccolo automaticaly make sense ?

Thank you

[2021-08-09 13:59] dantownsend commented on #88
Hi @vctrd, that's a good idea.

I've started putting together a simple prototype - will try and release this soon, as I can see it being a big time saver for people.

https://github.com/piccolo-orm/piccolo/pull/157

[2021-08-09 16:19] vctrd commented on #88
Thank you very much, I'll have a look.

[2021-08-09 21:40] BruceBerk opened #158 "Unable to install/run playground"
MacOS 10.15.7
Python 3.8.9
pip version 21.2.3

I created a Python virtual environment. Activated it.
pip install piccolo  #installed vers 0.30.0

piccolo playground run - gave me this error:
Can't import the APP_REGISTRY from piccolo_conf - some commands may be missing. If this is a new project don't worry. To see a full traceback use `piccolo --diagnose`
Install iPython using `pip install piccolo

[2021-08-09 21:53] BruceBerk commented on #158
Nevermind. Found out zsh uses [] for globbing. Had the quotes in the wrong place.
Suggested command should be:
pip install '[playground,sqlite]'

Note where the quotes are.

[2021-08-09 21:53] #158 closed

[2021-08-10 11:23] brnosouza opened #160 "Is there a way to use all columns of a joined table?"
I was working in a feature and I had to list all the columns of a related table, is there a better way to select all columns without having to list all? Something like the `star` method in peewee.

[2021-08-10 11:31] dantownsend commented on #160
Using the example schema in the docs:

[code]

You can try something like:

[code]

There could definitely be a nicer API for it - like you mention, something like:

[code]

I'll try and add this at some point.

[2021-08-10 17:52] #160 closed

[2021-08-17 12:01] davidolrik opened #164 "Feature request: Add description field to migrations"
It would be nice to have an optional short description for each migration.

So instead of this:

[code]

You would get this:

[code]

[2021-08-17 13:52] davidolrik opened #165 "Feature request: get_or_create"
To simplify create or update it would be nice to have a `get_or_create` method.

So this:

[code]

Can be turned into this:

[code]

[2021-08-17 18:00] dantownsend commented on #164
@davidolrik Yes, this is a great idea. Shouldn't be too hard to implement - I'll have a look into it.

[2021-08-17 20:11] dantownsend commented on #164
The latest version on PyPI has this feature now (v0.32.0) - thanks.

[2021-08-17 20:11] #164 closed

[2021-08-17 20:16] dantownsend commented on #165
@davidolrik I agree, it's a good idea.

[2021-08-20 05:30] adriangb opened #170 "Primary Key missing in auto-generated migration"
Using Postgres & Piccolo 0.32.0, the auto-generated migrations fail to include the primary key.

Schema:

[code]

When I try to run migrations via:

[code]

I get:

[code]

Looking at the generated migration, I see:

[code]

Adding the PK manually to the migration fixes the issue:

[code]

[2021-08-20 05:36] aminalaee commented on #170
@adriangb Thank you for reporting this.
There's an open issue to fix this #156 . Unfortunately the fix is not backwards compatible (yet) but we're trying to fix that.

[2021-08-20 05:40] adriangb opened #171 "Insert & get"
Is there any way to do an INSERT and subsequent SELECT of the inserted object w/o a second SELECT query? It look like INSERT returns the PK, but there's no way to add additional columns, change the cardinality, etc.

[2021-08-20 05:41] adriangb commented on #171
Indeed, `RETURNING` is hardcoded: https://github.com/piccolo-orm/piccolo/blob/14e7c72634a8614edec87e8cbbd8eb2101d84f93/piccolo/query/methods/insert.py#L64

[2021-08-20 05:51] adriangb opened #172 "Composite uniqueness constraints"
It looks like there's no way to do composite uniqueness constraints, i.e. `UNIQUE (col1, col2)`.

[2021-08-20 05:53] adriangb commented on #170
Nice! Feel free to close this if it's a duplicate

[2021-08-20 05:58] aminalaee commented on #170
@adriangb That's fine I think. We didn't really have an issue for that PR. Thanks for reporting it.

[2021-08-20 06:58] dantownsend commented on #170
I think the issue here is the `ForeignKey` should be created with type `UUID`, otherwise it can't store the reference to a `UUID` primary key.

This should work - I'll investigate what went wrong.

[2021-08-20 07:11] dantownsend commented on #170
I've been able to replicate the bug locally, and know what the issue is.

[2021-08-20 08:19] #170 closed

[2021-08-20 08:27] dantownsend commented on #170
@adriangb Thanks for reporting this, and @aminalaee for the assistance. Should be fixed on PyPI now (v0.33.0) - let me know if there are still issues.

[2021-08-22 00:59] tonybaloney opened #177 "When test config fails to use SQLite it will default back into Postgres"
I have the following app.py for FastAPI. I'm trying to have 2 piccolo config modules, one for production (using Postgres) and another using SQLite for integration testing.

[code]

In the test code, `settings.piccolo_config_module` is `piccolo_test_conf`

`piccolo_test_conf.py` is :

[code]

The test code is :

[code]

But, when running the test, it will try and connect to the SQLite database, fai

[2021-08-22 01:17] tonybaloney commented on #177
I found that it will use the default configuration in other parts of the code, so I've successfully overridden it by setting the environment variable in Pytest.

[code]

It would be nice to have a global way of setting this that doesn't use environment variables

[2021-08-22 02:11] hipertracker commented on #22
I found the auto migrations don't work when a model contains ForeignKey. I receive a cryptic: unhashable type: 'list' error inestead.

[2021-08-22 02:16] hipertracker opened #178 "Automigrations fails for models using ForeignKey"
I can't run migrations with `--auto` flag when a model uses a `ForeignKey`.
[code]
piccolo migrations new home --auto
Running Postgres version 13.4
Creating new migration ...
The command failed.
**unhashable type: 'list'**

[2021-08-22 02:21] hipertracker commented on #178
It's not related to the Postgres version. I tested it also on the supported Postgres 11.1 with the same effect

[code]

[2021-08-22 03:05] hipertracker opened #179 "piccolo[orjson] on M1 needs orjson>=3.5.1"
`piccolo[orjson]` tries to install an old  `orjson==v3.4.1`. This fails on new Apple M1 laptops.  To fix it `piccolo[orjson]` should use `orjson>=3.5.1`

[2021-08-22 03:24] hipertracker commented on #179
PR created https://github.com/piccolo-orm/piccolo/pull/180

[2021-08-22 06:49] #179 closed

[2021-08-22 07:04] dantownsend commented on #172
Yep, this needs adding.

A link to a discussion about it: https://github.com/piccolo-orm/piccolo/discussions/175

[2021-08-22 07:05] dantownsend commented on #178
@hipertracker It will be related to the default argument on `tags` - seems like an edge case which isn't caught by the unit tests. I'll take a look at this.

[2021-08-22 09:15] #178 closed

[2021-08-22 17:34] #165 closed

[2021-08-22 18:46] dantownsend commented on #177
@tonybaloney Yeah, currently it relies on setting environment variables, either within a pytest fixture, or in a shell script.

[code]

I agree that it's problematic if the environment variable was incorrectly set, or not present, and the main database would be used.

I think the best long term solution is to add a new command to the CLI, which is a wrapper around Pytest. Something like `piccolo t

[2021-08-25 10:45] #88 closed

[2021-08-25 10:51] #177 closed

[2021-08-25 12:16] wmshort opened #191 "Case insensitive value matching"
Loving Piccolo ORM. But is it possible to match a column value case-insensitively _without_ also being constrained by wildcard patterns, using .ilike() (which requires a wildcard pattern with '%'? It seems it would be beneficial to be able to match column values indifferently to case, but to exclude 'start', 'end' or 'within' patterns. For example: .where(Table.column == 'value') would match both

[2021-08-25 12:48] dantownsend commented on #191
@wmshort Hi William.

You make a good point - this should be possible.

It's a quick fix, I just need to remove the validation, so it doesn't complain if there's no % in the query.

That way you can just do:

[code]

[2021-08-25 12:53] dantownsend commented on #191
Until I get this fix out, here's a work around:

[code]

[2021-08-25 13:27] wmshort commented on #191
Hi Dan, that's great! Thanks for the quick response and promised quick fix. (I suspect it was just this sort of issue on Piccolo's end, rather than something in the interface with SQL). I had thought of something like 'is_in' as well, but this is only sometimes the right solution, since with certain data it's impossible to predict beforehand what the variations might be (e.g. it could be Foo or FO

[2021-08-25 16:05] #191 closed

[2021-08-25 16:26] dantownsend commented on #84
There are now `get` and `get_or_create` methods in master now - I'll close this for now, but feel free to reopen if you feel anything needs adding.

[2021-08-25 16:26] #84 closed

[2021-08-25 16:40] dantownsend opened #193 "Schema generation enhancements"
Piccolo now has a command for generating a schema from an existing database.

[code]

The current implementation doesn't cover every possible edge case and database feature, so there's room for improvement. For example:

## Column defaults

Getting the defaults for a column, and reflecting them in the Piccolo column. For example, if the column has a default of `1` in the database, we want that to

[2021-08-25 20:05] wmshort opened #194 "get_or_create produces AttributeError with Combinable"
To my delight I recently discovered Piccolo's get_or_create() convenience method -- which I had been lamenting was missing, but there it appears in the change log! However, when trying to use the method I am getting an AttributeError saying that 'Add' has no attribute 'column', with code like this:

obj = Table.objects().get_or_create(
    (Table.column1 == value1) & (Table.column2 == value2) & (T

[2021-08-25 22:16] #194 closed, assigned to dantownsend

[2021-08-26 02:42] cheesycod opened #196 "Create users using a command/non interactive way of creating a user"
This would be nice for the purpose of automation

[2021-08-27 20:05] wmshort opened #200 "Get dict from ORM objects?"
Is it possible to get a dict of column names and values easily from ORM objects, as if you had originally done .select()? I mean, once you have some ORM objects, I'm finding I then sometimes want to treat these objects purely in terms of their values. I guess there is the brutish .__dict__, but that wouldn't offer the filtering or aliasing opportunities of .select(). I guess I am asking if it's po

[2021-08-28 08:01] dantownsend commented on #200
I agree, having a separate `to_dict` method would be better than overriding `__dict__`.

[2021-08-28 09:10] dantownsend commented on #200
@wmshort There's an open PR which adds the fix.

Let me know if this is what you expected, if so I'll release it later today.

[2021-08-28 12:53] wmshort commented on #200
That's brill, yes! I haven't tested it yet, is it possible to provide columns for inclusion, as well as aliasing? I had imagined something like this:

[code]

Or mix and match
``
object.to_dict(Table.column1_name, Table.column2_name.as_alias('column_alias'))
# include column1 and column2 (but not, say, column3) and simultaneously alias column2, leaving column1 as-is
[code]

[2021-08-28 20:08] dantownsend commented on #200
@wmshort Cool, makes sense - I can see that being useful. Have updated the PR.

[2021-08-28 20:28] #200 closed

[2021-08-28 21:16] wmshort opened #202 "annotate response model?"
Integrating Piccolo ORM with FastAPI! It's a joy. However, I'm stumbling over a situation where I want to annotate a model response object with an additional key/value pair. (The response models have been automatically generated through create_pydantic_model, so I don't see a way of adding fields except by subclassing -- but the kind of annotations I want are more transient than this). The API is

[2021-08-28 21:44] dantownsend commented on #202
There's a couple of solutions I can think of, but I haven't tried them out.

One option is a JSON field.

[code]

That way you can add extra return data into the JSON field.

The other approach is using optional fields in Pydantic:

[code]

Not sure if either are what you're after.

[2021-08-28 22:14] dantownsend commented on #171
You're right - this is a good idea. I'll have a think about how to tackle this.

[2021-08-28 23:45] wmshort commented on #202
The optional field is a pretty good solution for this immediate issue, thanks!

Incidentally, if I have a (purely hypothetical and invented) set of Pydantic models like this:
[code]

where one model is embedded in the other, if I have a set of ORM objects, how does one 'follow through' the foreign keys on the Table models (corresponding to, in this example, Person.hobby), so that the embedded Pyda

[2021-08-29 08:08] dantownsend commented on #202
Piccolo doesn't automatically traverse foreign keys like in Django, as it can cause performance issues (N+1 queries).

Performance wise, it's best to get all of the data in one go. You can do something like this:

[code]

If you want all of the data from the related table, you can use:

[code]

All of the data in the Pydantic model would be flat though, and doesn't have a nested model.

For Piccol

[2021-08-29 08:21] wmshort commented on #202
I think that's great. Presumably you'd end up with something like

[code]

which would then fill out the nested Pydantic models normally?

[2021-08-29 08:25] dantownsend commented on #202
That's right. I think this would be a valuable feature. I'll try and add it.

It would be worth upgrading `create_pydantic_model` in a similar way, so it can also generate nested models.

[code]

[2021-08-29 22:21] #202 closed

[2021-08-29 22:27] dantownsend commented on #202
The changes to Piccolo API are in progress still, but almost finished. Will get those merged tomorrow.

[2021-08-30 11:29] davidolrik opened #207 "Can't define a not null ForeignKey"
Given the default schema with one little tweak, not allowing a band without a manager like this:

[code]

This breaks migrations as there is a default value of `None`:

[code]

Maybe this default should be removed from `ForeignKey()`.

[2021-08-30 14:14] dantownsend commented on #207
Thanks for reporting this - I'll take a look.

[2021-08-30 15:36] wmshort opened #209 "specifying multiply-nested fields in select?"
Loving the new nested functionality. It works wonders! But I'm running into an issue with ``select()`` and ``all_columns()`` when I have multiply-nested models. So, imagine:

[code]

The trouble I am running into -- and this may just be a question of not having the syntax of ``select()`` right -- is that I get a "missing FROM-clause for table 'hobby'" error when trying to do something like:

``Per

[2021-08-30 21:43] dantownsend commented on #209
The syntax you're using looks correct. I'll try it locally to see if I can replicate the problem.

[2021-08-30 23:04] wmshort commented on #209
I've tried both:
``Person.hobby.day.all_columns()`` = 'missing FROM-clause entry for table hobby' error
``Person.hobby.all_columns()`` = Pydantic validation error, as nested models in Hobby are not valid ``dict``s

I used ``create_pydantic_models(nested=True...)`` for all the nested tables, omitting ``nested`` only from the models lowest in the hierarchy (i.e. Day, Place in the example) which do n

[2021-08-31 08:58] dantownsend commented on #209
I've been able to replicate the issue.

The problem is if `all_columns` is used two or more levels deep:

[code]

I'll try and fix it.

It's a bit tedious, but for now if you list all of the columns explicitly it seems to work OK (just as a temporary fix).

[code]

[2021-08-31 09:22] wmshort commented on #209
Alrighty, I will try the explicit method for now! Thanks!

[2021-08-31 12:48] #209 closed

[2021-09-02 14:47] wmshort commented on #193
I would be willing to take a crack at this, though I can't guarantee a quick turn-around.

[2021-09-02 15:15] dantownsend commented on #193
@wmshort That would be great, thanks

[2021-09-03 09:35] dantownsend opened #216 "Python 3.6 support?"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/215

<div type='discussions-op-text'>

<sup>Originally posted by **fsvenson** September  3, 2021</sup>
I'm  just curious if piccolo has a hard dependency on python 3.7 or if 3.6 could be supported? Completely understandable if not, seeing as 3.6 is getting deprecated soon. Hopefully, we'll get around to upgrading our old CentOS 7

[2021-09-06 20:55] McSlow opened #220 "One-to-many relations"
Hi,
i'm currently having some beginner issues with one-to-many relations. Given the following scheme:

[code]
How can I access all Bands a Manager manages?
So something like ```bandsAManagerManages = Manager.bands```
Is there some automatic support for such things or do I need to write a function with a subquery in the Manager table (... .where(manager=self.id)?

[2021-09-06 21:04] dantownsend commented on #220
Hi @McSlow

If you just just want to find the bands for a single manager, you can do something like:

[code]

There isn't an API yet to bulk retrieve all of the bands for all of the managers, but it's something we're working on.

If that's your use case, you might find this discussion useful: https://github.com/piccolo-orm/piccolo/discussions/208

[2021-09-06 21:27] McSlow commented on #220
Thanks- that was fast :)
Reverse foreign key lookups would be cool, but the provided example already does exactly what I want :)
Just need to find out how to add this as an rest endpoint to fastAPi (  /manager/1/bands) but I guess I'll find out...

[2021-09-06 21:29] dantownsend commented on #220
The best way to see how it all hangs together with FastAPI, is use `piccolo asgi new` (assuming it's a new project). That includes some example endpoints.

[2021-09-06 21:41] McSlow commented on #220
Ah ok- that was really easy, got it. Thanks again :)

[2021-09-06 21:41] #220 closed

[2021-09-07 07:37] dantownsend commented on #216
The main sticking point is `from __future__ import annotations`.

There's this backport, which is cool:

https://github.com/asottile/future-annotations

But we would have to add `# -*- coding: future_annotations -*-` to the top of each file.

It seems like Python 3.6 is end of life at the end of 2021, so probably not worth it:

https://endoflife.date/python

[2021-09-07 07:37] #216 closed

[2021-09-08 09:31] dantownsend opened #221 "Naming of columns"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/206

Allow ``Table`` columns to map to database columns with different names.

For example:

[code]

In the example above, when doing queries, you will use `MyTable.name`, but the actual column in the database is called `person_name`.

This is useful when using Piccolo on legacy databases with non-ideal column names.

[2021-09-08 11:52] dashsatish commented on #152
Considering the basic features with type annotations and other conveniences. I feel Piccolo to be a best combination with FastAPI. And we have one micro-service in production running fluently for over 7 months now (At the time of writing this comment)

@dantownsend and others did an awesome job in clarifying our questions and fixing basic issues. Kudos to all the volunteers here. It's a great fram

[2021-09-08 11:54] dashsatish commented on #56
This can be closed we are good here. If there are any other problems I would raise a hand. Thanks a lot.

[2021-09-08 11:58] dashsatish commented on #47
Hi,
An update here:
We did implement a keyset based pagination to avoid performance issues pertaining to table scans in limit-offset based pagination.
@dantownsend I used your idea from https://github.com/piccolo-orm/piccolo_api/pull/34 that has the shopify example.
(thanks 🙂  )

Digging more into cursor based pagination approach. I shall update here of any progress we make.

[2021-09-09 22:11] dantownsend commented on #47
@dashsatish That's awesome - thanks for the update.

[2021-09-15 14:12] AliSayyah commented on #196
@dantownsend  I want to add this feature if it's ok. but I think this functionality should be added to 'targ', right?

[2021-09-15 14:22] dantownsend commented on #196
@AliSayyah I think we can do it by modifying this function in the Piccolo repo:

https://github.com/piccolo-orm/piccolo/blob/ccdabaa341c317180659b665cecb763aba3a8873/piccolo/apps/user/commands/create.py#L58

So would be something like:

[code]

So shouldn't be too bad of a change - just need to modify the unit tests for it, and make sure it works. If you're happy to give it a go, that would be gre

[2021-09-15 14:34] AliSayyah commented on #196
thank you for your feedback.
I will make the necessary changes and fix the tests.

[2021-09-15 14:35] dantownsend commented on #196
@AliSayyah Great, thanks. If you need any help let me know.

[2021-09-15 17:47] dantownsend commented on #196
Fixed by https://github.com/piccolo-orm/piccolo/pull/231

[2021-09-15 17:47] #196 closed

[2021-09-15 20:53] dantownsend opened #232 "Fix bug with Decimal / Numeric columns"
There's a subtle bug where if you have a `Decimal` / `Numeric` column, and don't specify a `digits` argument.

https://github.com/piccolo-orm/piccolo/blob/23a8c1f8cedee518288ecb702454f62521583c13/piccolo/columns/column_types.py#L908

For example:

[code]

The problem is when using `create_pydantic_model` it assumes the `precision` and `scale` properties of `Numeric` / `Decimal` return an integer -

[2021-09-15 21:03] dantownsend opened #233 "Add `create_tables` function"
If you want to create a table without using migrations, you can do this:

[code]

If you're creating a bunch of tables, you need to do something like:

[code]

You have to be careful to create them in the right order because of `ForeignKey` columns.

We have a useful utility which can automatically sort tables based on their foreign keys so they're created in the right order.

https://github.com/p

[2021-09-16 05:31] AliSayyah commented on #233
This sounds very useful. I'll get onto it.

[2021-09-16 07:31] AliSayyah commented on #233
@dantownsend I'm not sure what the function should return. do you have any idea?

[2021-09-16 07:59] dantownsend commented on #233
@AliSayyah I think it's fine not to return anything - if something goes wrong, an exception will be raised anyway.

[2021-09-16 08:14] AliSayyah commented on #232
@dantownsend pydantic's default value for max_digits and decimal_places is None, so if we return None when precision and scale are not defined, it should be okay.

so is it necessary to use another field in this case?

[2021-09-16 08:15] dantownsend commented on #232
@AliSayyah That makes sense - just have `max_digits` and `decimal_places` set to `None`

[2021-09-16 12:04] dantownsend commented on #232
Fixed by https://github.com/piccolo-orm/piccolo/pull/236

[2021-09-16 12:04] #232 closed

[2021-09-16 14:02] dantownsend commented on #233
Fixed by https://github.com/piccolo-orm/piccolo/pull/235

[2021-09-16 14:02] #233 closed

[2021-09-16 14:03] dantownsend commented on #14
The testing docs are better now:

https://piccolo-orm.readthedocs.io/en/latest/piccolo/testing/index.html

But there's still room for improvements with more examples etc.

[2021-09-16 14:13] AliSayyah commented on #10
@dantownsend Is this roadmap up-to-date?

[2021-09-16 14:48] dantownsend commented on #10
@AliSayyah No, it's a bit dated. I've just crossed off a few which have already been done.

This issue can probably be closed, and replaced with individual issues instead.

When I created this issue we didn't have GitHub discussions, or projects. So a check list was about as good as it got!

We can pick up the conversation here:

https://github.com/piccolo-orm/piccolo/discussions/126

[2021-09-16 14:48] #10 closed

[2021-09-16 14:51] dantownsend commented on #55
Going to close this for now - custom column types should now be possible.

[2021-09-16 14:51] #55 closed

[2021-09-16 14:55] AliSayyah opened #237 "Dynamic query builder"
in one of my projects, I need to dynamically query the database based on user input.
consider this function:
[code]
and of course, sometimes there won't be any 'where' clause or 'group_by' clause from the user side.
I noticed piccolo doesn't handle empty clauses.
am I doing something wrong here?
Is there a way to dynamically add clauses too?
and if something like this can't be done, I would like t

[2021-09-16 15:05] dantownsend commented on #237
You're right - if you use the `where` method it currently requires an argument.

[code]

You can work around this by composing your query as follows:

[code]

However, I've wanted to change the `where` method for a while, so it can accept any number of where arguments.

[code]

It's just a bit more compact when you have loads of where clauses.

If this were to be implemented, it would also solve y

[2021-09-16 15:09] dantownsend opened #238 "Add `create` method"
If you want to create an object and save it, the current approach is:

[code]

We can add a `create` method, which might be preferable for some people coming from other ORMs:

[code]

[2021-09-16 15:12] dantownsend opened #239 "Nicer UI when running migrations"
When running migrations, the output is a bit ugly - there must be a nicer approach, which is more informative.

<img width="754" alt="Screenshot 2021-09-16 at 16 11 02" src="https://user-images.githubusercontent.com/350976/133637875-a5e3e32c-5303-4890-9033-df55f3bd7c70.png">

[2021-09-16 15:17] dantownsend opened #240 "`AppRegistry` should provide a warning if an app doesn't end in `piccolo_app`"
In your `piccolo_conf.py` file you have an `AppRegistry` - something like this:

[code]

I think it's tempting for someone new to Piccolo to just put the name of the app in, and not the path to the `piccolo_app` file.

[code]

We could put in some kind of warning if the string doesn't end in `piccolo_app`, or if the import fails, automatically try again with `app_name.piccolo_app`.

[2021-09-16 15:18] AliSayyah commented on #237
Thank you for your workaround.
That would be a nice change.
I will try my best to implement multiple arguments.

[2021-09-16 15:31] dantownsend commented on #237
@AliSayyah Thanks.

Now you mention it, there's nothing in the docs about being able to build up a query iteratively like in the example I shared with you - that's something I should probably add at some point.

[2021-09-16 15:40] AliSayyah commented on #193
test_table.value_updated ['double precision']

I think this problem can be added to this issue. unless it's the same thing as your `Decimal precision` part of the explanation.
and it says `Column` added as e placeholder. but these columns haven't been included in the generated code. they have been skipped.

[2021-09-16 18:42] dantownsend commented on #193
@AliSayyah I'll create a separate issue for that - I think it's because Piccolo doesn't have a `double precision` column type, only `real`.

You're right though, even without supporting that column type, the schema generate command should still add a placeholder value. I'll create a separate issue for that too.

[2021-09-16 18:43] dantownsend opened #241 "Support double precision column type"
As discussed here:

https://github.com/piccolo-orm/piccolo/issues/193#issuecomment-921014890

[2021-09-16 18:44] dantownsend opened #242 "Schema generate doesn't output placeholder columns for column types it doesn't recognise"
As reported here: https://github.com/piccolo-orm/piccolo/issues/193#issuecomment-921014890

[2021-09-17 08:59] AliSayyah commented on #193
That's good, thank you.
What is your opinion about adding support for views and materialized views?

[2021-09-17 09:06] dantownsend commented on #193
@AliSayyah I think having support for views and materialised views would be a nice feature.

I haven't given much thought into what the API would look like though.

[2021-09-17 09:22] AliSayyah commented on #193
@dantownsend Ok, so that's a thing to keep in mind for the future.

[2021-09-18 17:07] AliSayyah commented on #241
@dantownsend what do you think about using Decimal type with a fixed scale of 15 for `Double Precision`?
and I noticed that float has been used to represent the `Real` type with no decimal limitation.
This wouldn't be a problem while inserting data to the table?

[2021-09-18 17:18] dantownsend commented on #241
@AliSayyah For the types, I've gone off the asyncpg docs:

https://magicstack.github.io/asyncpg/current/usage.html?highlight=decimal#type-conversion

So looks like double precision should also be a float.

You're right, `Real` columns are also represented by Python `float` values.

What seems to happen is there's no limit on what floats you can insert, but you don't get 100% accurate values back f

[2021-09-18 17:26] AliSayyah commented on #241
My understanding was that if `Real` has, for example, 5 decimal digits, it should be precise.
That makes sense, thank you.

[2021-09-18 23:09] hipertracker opened #249 "Suppressed error stack when the command code fails"
When Piccolo runs a command and the code raises an error, it's hard to figure out what's wrong because the output displays only a simple message. It would be a great help to add a full error stack to the output.

[2021-09-18 23:49] Bakz opened #251 "piccolo_api SessionsAuthBackend.authenticate honor allow_unauthenticated if not token"
Hello, sorry if this is a naive assertion, but shouldn't SessionsAuthBackend.authenticate return (AuthCredentials(scopes=[]), UnauthenticatedUser()) if not token but self.allow_unauthenticated == True?

[2021-09-19 00:00] #251 closed

[2021-09-19 02:20] dantownsend commented on #249
@hipertracker Try the command with --trace`, and it should output a stack trace.

You need to make sure you have the latest version of `targ` installed for this to work.

I don't think this is mentioned in the docs - it needs adding.

[2021-09-19 09:33] dantownsend opened #252 "Add an API for upserting"
Based on this discussion: https://github.com/piccolo-orm/piccolo/discussions/248

We don't currently have an API for upserting.

This would be based around the `ON CONFLICT` clause you can add to `INSERT` queries.

https://www.postgresql.org/docs/current/sql-insert.html#SQL-ON-CONFLICT

There will probably be two APIs needed. Something for `insert` queries, and a convenience method for `objects` q

[2021-09-19 13:04] AliSayyah commented on #241
`asyncpg.exceptions.UndefinedObjectError: type "doubleprecision" does not exist`

[2021-09-19 13:06] dantownsend commented on #241
I think there has to be a space. So with the column type it will have to be something like:

[code]

Hopefully that works?

[2021-09-19 13:06] AliSayyah commented on #241
Yes, that's what I was looking for. Thank you.

[2021-09-19 13:06] #242 closed

[2021-09-19 14:02] hipertracker commented on #249
I added information about --trace flag https://github.com/piccolo-orm/piccolo/pull/254

[2021-09-19 14:02] #249 closed

[2021-09-19 14:46] #237 closed

[2021-09-19 15:39] dantownsend opened #256 "Add `bigserial` type"
We have a `Serial` column type, but having `BigSerial` would be useful too.

The implementation should be pretty simple. Possibly even just this:

[code]

[2021-09-20 21:04] dantownsend commented on #241
Fixed by https://github.com/piccolo-orm/piccolo/pull/255

[2021-09-20 21:04] dantownsend commented on #240
Fixed by https://github.com/piccolo-orm/piccolo/pull/253

[2021-09-20 21:04] #240 closed

[2021-09-20 21:05] dantownsend commented on #238
Fixed by https://github.com/piccolo-orm/piccolo/pull/245

[2021-09-20 21:05] #238 closed

[2021-09-21 10:12] AliSayyah opened #259 "Schema Generate problem with reference tables"
- schema name doesn't get included in `tablename`.
- reference tables are written before import statements.
- only referenced column gets added.

[code]

I think referenced tables should be treated as other tables.

[2021-09-21 10:24] dantownsend commented on #259
Hmm, that's odd. I can't replicate this locally.

If should declare the referenced table properly.

There are two possible reasons I can think of:

 * Some other piece of code is printing out the `MyTable` definition, so when `piccolo schema generate` is being piped to a file, it includes this extra content? It might be worth calling `get_output_schema` directly to verify this.
 * A strange edge c

[2021-09-21 10:35] AliSayyah commented on #259
@dantownsend I checked and your first guess is correct.
how can I prevent this?

[2021-09-21 10:39] dantownsend commented on #259
@AliSayyah I encountered similar issues when originally writing it. The issue was when Piccolo was printing out warnings. I managed to solve those by using `colored_warning` instead of `print`.  I think that warnings get written to stderr instead of stdout, so doesn't get piped to the file.

I guess the first thing is isolating where the `MyTable` definition is getting printout out, and deciding i

[2021-09-21 10:49] AliSayyah commented on #259
@dantownsend Thank you it's ok now.

[2021-09-21 11:11] #259 closed

[2021-09-22 17:50] AbhijithGanesh opened #264 "{FEAT}: Requirement of GitHub Templates."
We need requirement of templates to facilitate faster forms and issues.

[2021-09-22 17:51] AbhijithGanesh commented on #252
I would like to work on this if It is open and unassigned.

[2021-09-22 17:56] dantownsend commented on #264
Good idea. I don't much about GitHub issues templates - need to look into it.

[2021-09-22 17:57] AbhijithGanesh commented on #264
If you need help, I have done this before many times and can get this done too.

[2021-09-22 18:08] dantownsend commented on #264
I'm not sure what the template should contain. Do you have an example of another project which uses it well?

[2021-09-22 18:10] dantownsend commented on #252
@AbhijithGanesh Great, thanks. This might be a tricky issue though, just so you're aware!

[2021-09-22 18:11] AbhijithGanesh commented on #264
You check out

 CiviWiki- The Templates were contributed by me

Eddiehub community - Another good example

[2021-09-22 18:12] AbhijithGanesh commented on #252
Thanks for the heads up , I'll read upon docs and get this reviewed before it gets merged

[2021-09-22 18:30] dantownsend opened #265 "Add a `from_fixture` method to `BaseUser`"
If you pass a password into the `BaseUser` constructor, it hashes it.

[code]

This is the expected behaviour, but it's problematic if you're passing in an already hashed password (it will get hashed again).

An example use case is fixtures - you dump the users table, and end up with data like this:

[code]

We need a class method on `BaseUser`, called something like `from_fixture` (or some other,

[2021-09-22 18:49] dantownsend opened #266 "After inserting a fixture, update the primary key sequences"
After inserting a fixture:

https://github.com/piccolo-orm/piccolo/blob/8ec9d10313c9ac44916f01e27c9ef58eb22ae0d9/piccolo/apps/fixtures/commands/load.py#L57-L62

For each primary key column we should run something like:

[code]

To make sure subsequent inserts don't fail due to unique constraint errors.

[2021-09-22 18:50] dantownsend commented on #264
OK, cool - if you want to open a PR with a bug template, that would be a nice start, and we can test it out.

[2021-09-23 05:04] AbhijithGanesh commented on #264
I have opened the PR with three templates - bugs, issues and support form. You can review them and request changes

[2021-09-23 06:23] AbhijithGanesh commented on #252
Clarification: The upserting method/process is like HTTP PUT right?

[2021-09-23 06:36] AbhijithGanesh commented on #252
This requires more interaction with the maintainer than I thought, where can I reach out to you? @dantownsend

[2021-09-23 06:43] AbhijithGanesh commented on #252
So I am implementing the insert part at query>insert.py and upsert as a new file.
Would that be okay?

[2021-09-23 06:56] dantownsend commented on #252
You're best reaching me here - I don't use much else besides email.. You can start a separate discussion thread if you prefer.

That's right - an UPSERT is a bit like a PUT. When an insert fails due to a unique constraint, it will update the existing row instead of raising an error.

Here are the docs:

https://www.postgresql.org/docs/current/sql-insert.html#SQL-ON-CONFLICT
https://sqlite.org/lang

[2021-09-23 07:02] AbhijithGanesh commented on #252
On a high level, the insert method and upsert method would ideally be sharing similar database querystrings right(Exclude the query, just the structure)

[2021-09-23 07:20] dantownsend commented on #252
That's right, it will most likely be an `on_conflict` argument to `Insert`. If you look at the codebase, there are many 'delegates'. For example:

https://github.com/piccolo-orm/piccolo/blob/8ec9d10313c9ac44916f01e27c9ef58eb22ae0d9/piccolo/query/mixins.py#L38-L53

We would have a new one called `OnConflict`.

You can set the on conflict value using the constructor:

[code]

Or you can use a method

[2021-09-23 08:38] AbhijithGanesh commented on #252
Thanks for this vital information, Can you please assign me to this issue

[2021-09-23 08:48] AbhijithGanesh commented on #252
Can you quickly tell me about delegates quickly?
I know they're a part of the mixins, can you please give me a description(I searched the code base for onconflict and couldn't find relevant references)

[2021-09-23 08:55] dantownsend commented on #252
There is no code related to `on conflict` yet. A delegate is just a class which stores data - if you look at `mixins.py` there's a bunch of them, and they're all pretty similar. The reason we use them instead of inheritance is because it's better for type annotations.

[2021-09-23 08:58] AbhijithGanesh commented on #252
got it, I shall use them

[2021-09-23 11:36] dantownsend opened #268 "Enhanced object creation, using column references"
When instantiating a Table object, we do this (like in 99% of ORMs):

[code]

Some Piccolo queries allow you to pass in a dictionary mapping column references to values, instead of using kwargs. It's nice for tab completion, and also for catching errors.

[code]

It would be good to have this ability for instantiating objects too. Something like:

[code]

[2021-09-23 14:09] AbhijithGanesh commented on #252
Heyy, quick question, can I use exists.py to validate?
I have currently based my function design on update and insert as of now,

[2021-09-23 14:11] dantownsend commented on #252
You can use exists.py in unit tests, but it should be possible to implement the `on conflict` changed in a single query, by extending the existing `Insert` class.

[2021-09-25 12:31] wmshort commented on #193
Sorry for ignorance: if table-level triggers are give in information_schema.triggers, where are column-level triggers (ON DELETE etc) listed most readily?

[2021-09-25 13:01] dantownsend commented on #193
@wmshort Good question - it looks like you can find `ON DELETE` and `ON UPDATE` here:

[code]

I found this gist on it:

https://gist.github.com/velosipedist/7250141

[2021-09-25 14:43] wmshort commented on #193
@dantownsend Possible related bug? To test the trigger parsing, in ``example_app.py`` I changed one of ``Concert``'s ``Band`` foreign keys to trigger ``OnDelete.no_action``, however when querying the DB for the table's trigger information all I am getting back is ``CASCADE``. Could something be interfering in setting the correct ``OnDelete``/``OnUpdate`` values?

It seems like this might be the cu

[2021-09-25 15:45] dantownsend commented on #193
@wmshort Yes, you're right - there seems to be a bug.

I'm glad you caught this.

I'll push a fix for it now.

[2021-09-25 15:47] dantownsend opened #272 "`on_delete` and `on_update` not being properly assigned"
As reported here:

https://github.com/piccolo-orm/piccolo/issues/193#issuecomment-927131062

[2021-09-25 16:52] dantownsend commented on #272
Fixed by https://github.com/piccolo-orm/piccolo/pull/273

[2021-09-25 16:52] #272 closed

[2021-09-25 16:57] dantownsend commented on #193
@wmshort I've released a fix for this now - if you merge the latest master into your branch then hopefully it'll work.

Thanks for discovering that bug.

[2021-09-25 18:49] #256 closed

[2021-09-25 19:06] wmshort commented on #193
@dantownsend Awesome, that should let me wrap up the other additions to schema generation (triggers, decimal precision). However with the merge of latest master the tests seem to have gotten borked

[2021-09-25 19:26] dantownsend commented on #193
@wmshort Yeah, I think there's a couple of things going on.

The new columns in `tests/example_apps/music/tables.py`. Some of the existing tests would need updating to support the changes. We might be better off moving the new example tables into a separate file for now, so your tests and the existing tests can co-exist for now.

And there were some changes to `generate.py` in master which may hav

[2021-09-25 19:32] dantownsend commented on #193
@wmshort If I can help at all merging it in, let me know.

[2021-09-25 20:01] wmshort commented on #193
@dantownsend  I think I've got generate.py sorted, but if you can manage a solution to the tests that would be fantastic. Then I can get the remaining additions in as separate PRs.

[2021-09-25 20:25] dantownsend commented on #193
@wmshort No problem - will take a look.

[2021-09-26 13:40] wmshort commented on #193
The last of these items is addressed by #276 , are there enhancements that could reasonably be added now? What is the status of the question of placeholders?

[2021-09-26 13:55] dantownsend commented on #193
@wmshort Great, thanks for adding those. I'm not sure if any other features are missing - maybe indexes?

By placeholders, do you mean if a database column type isn't recognised by Piccolo?

[2021-09-26 16:14] wmshort commented on #193
@dantownsend I'll look into the indexes, eefintiely!

For the placeholders, does it make sense to include 'missing' field types? Would the generated schema actually be usable against an existing database? In any case there aren't many types still missingg so I will take your direction on this.

[2021-09-26 17:07] dantownsend commented on #193
@wmshort There's a few really obscure column types in Postgres, and it'll be a while before we support them all (if at all):

https://www.postgresql.org/docs/current/datatype.html#DATATYPE-TABLE

I think it's possible to define custom column types in Postgres too, which complicates matters further.

You're right though, for a user who is dependent on an unsupported column type, it could be problem

[2021-09-26 18:38] hipertracker opened #277 "BlockingIOError: [Errno 35] write could not complete without blocking"
From `piccolo shell run` the commands

```Book.select().limit(4).run_sync()```

and

```Book.select().offset(1).limit(4).run_sync()```

work fine, but...

```Book.select().limit(5).run_sync()```

displays the result and then raise BlockingIOError exception:

[code]

I don't know what's going on.

[2021-09-26 19:04] dantownsend commented on #277
Strange - do you get the same problem if you use async instead?

[code]

You should be able to do this inside iPython, as it supports top level await.

I had a dig around, and `BlockingIOError` is raised when a blocking operation in used in a non-blocking context.

From a Piccolo perspective, we sometimes use the `print` statement, which is blocking, so could potentially be the problem if it's pri

[2021-09-26 19:08] dantownsend commented on #277
Another idea, maybe `run_sync` is being used within an `async` function?

[2021-09-26 21:49] wmshort commented on #193
I have index reflection working now, but it seems like this info was intentionally omitted through ``excluded columns`` etc. Was the choice for another reason than not (yet) having this introspection into the database?

[2021-09-26 21:50] dantownsend commented on #193
@wmshort Yeah, it was just omitted because we didn't have the reflection capabilities at the time.

[2021-09-27 04:23] AbhijithGanesh commented on #252
@dantownsend I am super sorry for leaving this on open! I shall finish this ASAP!

[2021-09-27 04:53] AbhijithGanesh commented on #252
What slots would on_conflict take? Enum?

[2021-09-27 23:06] hipertracker commented on #277
```await Book.select().limit(5).run()```  raise the same error ```BlockingIOError: [Errno 35] write could not complete without blocking```

This is a small table with only 95 records. I can read up to 4 records, when I read 5 or more I get that error. This is very strange.

[2021-09-27 23:08] hipertracker commented on #277
This is my model, nothing complicated:
[code]

[2021-09-28 06:29] dantownsend commented on #277
On the traceback it said something about a unicode character - there isn't a strange character in your database which is causing issues?

Do you still get the same problem in a standard Python shell, or just with iPython?

[2021-09-28 07:30] dantownsend commented on #277
I wrote a script to test it, and can't replicate the issue:

[code]

So maybe it's a quirk of iPython, or a data issue?

[2021-09-28 22:02] hipertracker commented on #277
It's a problem with iPython.  I can run the code from a file or with a standard Python console, but not with iPython.

[2021-09-28 22:02] #277 closed

[2021-09-28 22:09] hipertracker commented on #277
BTW, it works perfectly in Jupyter Notebook.

[2021-09-29 05:27] AbhijithGanesh commented on #252
@dantownsend can you please explain which slot on_conflict should take

[2021-09-29 06:07] dantownsend commented on #252
@AbhijithGanesh You just create a new one:

[code]

Slots are a minor performance enhancement which tells Python that only those attributes are allowed, which makes it slightly more memory efficient.

[2021-09-29 20:57] dantownsend commented on #277
@hipertracker I encountered the same issue randomly when running a query in iPython.

I found this related issue:

https://github.com/ipython/ipython/issues/12563

Seems to be some weird issue when uvloop is used with iPython on Mac OS.

Uninstalling uvloop fixed it for me.

[2021-09-29 22:51] hipertracker commented on #277
Piccolo is installing uvloop by default. How to disable it? I use only this in requirements.txt and still uvloop is installed
[code]

[2021-09-30 07:16] dantownsend commented on #277
Hmm, strange.

I just tried `pip install piccolo_admin piccolo[postgres,orjson]` in a Docker container, and this is what I got.

<img width="284" alt="Screenshot 2021-09-30 at 08 11 27" src="https://user-images.githubusercontent.com/350976/135404675-799a27cf-9411-48fd-82dd-08b69b69842c.png">

If you use `pip install piccolo[all]`, it will definitely install uvloop, but shouldn't otherwise. Unless

[2021-09-30 13:01] hipertracker commented on #277
I found uvloop was installed because of another entry in my requirements.txt  `uvicorn[standard]`.  I can live with that, just instead of iPython, I can use Jupyter Notebook.

[2021-09-30 13:03] dantownsend commented on #277
Cool - at least we got to the bottom of that mystery!

[2021-09-30 15:16] dantownsend commented on #239
Fixed by https://github.com/piccolo-orm/piccolo/pull/280

[2021-09-30 15:16] #239 closed

[2021-09-30 15:26] dantownsend opened #283 "Add `drop_tables` function"
We recently added a `create_tables` function:

https://github.com/piccolo-orm/piccolo/blob/bded0f62c6aa14ed4ac294cd560f56c6dd160f2e/piccolo/table.py#L978

It is a great convenience when writing unit tests, or writing a simple data science script using Piccolo.

[code]

It would be nice to have a companion function called `drop_tables`. It will sort the tables based on `ForeignKey` columns, and dro

[2021-10-02 07:45] AliSayyah opened #285 "suggestion: piccolo ecosystem in README"
Hi there.
I think it is a good idea to have a whole section in README  for introducing the different tools in the ecosystem.
It would be much easier for newcomers to discover other aspects of the piccolo.

[2021-10-02 09:13] dantownsend commented on #285
It's a good idea - the README needs a bit of an overhaul. As you say, to mention more about the wider ecosystem, as it's one of the main selling points.

[2021-10-04 10:10] gmos commented on #221
Would be nice to have this.  I have an existing database with a column name called 'class'.  So named the field 'class_' in the definition.  But then obviously table accesses fail.  So needed a workaround.

Already wanted to make a view in the database to change the offending name.  But then looked into the code and found this workaround:
[code]
Seems to do the job nicely, albeit a bit of a hack.

[2021-10-04 11:31] gmos commented on #221
Alas, while fetching and updating works, creating and initializing a new instance doesn't.
[code]

[2021-10-04 12:03] dantownsend commented on #221
@gmos I had a quick go at fixing this issue - still need to write some more tests, but hopefully should be able to release it soon.

[2021-10-04 12:09] dantownsend commented on #221
The most problematic thing is passing it into the constructor - so in your example `LoraKey( class="A", other=42 )`.

There's a related issue, where a dictionary of arguments can be passed in. This is one potential fix:

https://github.com/piccolo-orm/piccolo/issues/268

I think it's cleaner than letting a user pass in either `class` or `class_`. I'll have a think.

[2021-10-05 08:48] #221 closed

[2021-10-05 09:13] dantownsend commented on #221
@gmos There's a new version on PyPI which supports this feature now. Hopefully it solves your issue.

This should now work:

[code]

[2021-10-05 09:32] dantownsend commented on #221
There's also this approach for anyone coming across this in the future:

https://github.com/piccolo-orm/piccolo/blob/69389132d5946ea29f98a763d015afe49fbc5b86/piccolo/table.py#L955

So it's:

[code]

A bit harder to read, but useful in a pinch.

[2021-10-05 13:28] dantownsend opened #291 "Explore Pydantic usage instead of dataclasses"
Piccolo uses dataclasses extensively, all over the code base.

It's worth investigating if any noticeable performance improvement can be achieved by using Pydantic models instead.

[2021-10-05 18:00] #283 closed

[2021-10-05 20:10] gmos commented on #221
Just installed the new version.  Works perfectly.  Thnx.

[2021-10-06 03:44] AbhijithGanesh opened #293 "[BUG]: Unresolved imports in docs"
In the [given](https://piccolo-admin.readthedocs.io/en/latest/asgi/index.html) page you can see imports for starlette mount is not imported here.

[2021-10-06 04:52] AbhijithGanesh commented on #293
Yes, I would like to make this minor documentation fix.

[2021-10-06 16:40] dantownsend commented on #293
@AbhijithGanesh Yes, what do I need to do? Just tag this issue with `hacktoberfest`?

[2021-10-06 16:42] AbhijithGanesh commented on #293
I think you need to register the repository.

[2021-10-07 03:38] AbhijithGanesh commented on #293
@dantownsend can you please review my changes?

[2021-10-10 04:34] knguyen5 opened #295 "AttributeError when running reflections or schema generation on non-key indexed tables"
When running reflection or schema generation on tables that contain non-key indices, the following error is encountered:
[code]
Example schema:
[code]

It seems that when querying `pg_indexes`, the resulting `indexdef` contains double quotations for the non-key index:
[code]

The current regex pattern doesn't account for the double quotations around the index column
https://github.com/piccolo-orm/

[2021-10-10 06:18] AliSayyah commented on #295
@knguyen5 thank you for spotting this.

[2021-10-11 02:32] knguyen5 opened #297 "Reflection on a table with self-referencing ForeignKey does not complete"
When running a reflection on a table that includes a self-referencing ForeignKey, such as the example below, the process hangs or never completes:
[code]

After removing the foreign key or replacing with another table reference, the reflection completes as expected.

[2021-10-11 16:46] knguyen5 commented on #297
Thanks @AliSayyah! The scenario that I'm trying to capture in this data modeling is when there's an unknown number of parent entities and child entities. To keep the schema flexible, it's kept in a long table format.

For example, this could be useful in a growing organization tree and mapping out which employee reports to another employee (whom might report to someone else).

I'm no data modeling

[2021-10-11 17:04] dantownsend commented on #297
I've used recursive foreign keys a few times in the past.

Things like this are quite common:

[code]

It should be possible to support this in `piccolo schema generate`. It's just an edge case we overlooked.

[2021-10-11 19:53] dantownsend opened #299 "Update GitHub actions for Postgres 14, and Python 3.10"
Python 3.10 and Postgres 14 have both been released.

[2021-10-13 19:21] #299 closed, assigned to nobody

[2021-10-15 17:56] 0scarB opened #306 "[BUG]: Decimal import conflict in auto generated migration"
Auto-generating migrations for tables with columns of type `Decimal` causes conflicting imports <br>
[code]
and
[code]
<br>

This means that the following code in the migration fails
[code]

because `Decimal` has type `decimal.Decimal`, not `piccolo.columns.column_types.Decimal`. <br><br>

This probably hasn't been discovered yet because most people use `Numeric` which does not have this problem.

[2021-10-19 21:24] dantownsend commented on #306
@0scarB Yeah, the `ast` approach sounds interesting.

I only have limited experience with the `ast` module, so even though it sounds good conceptually, I'm not sure how complex it would be in practice.

This seems like a good resource on it:

https://greentreesnakes.readthedocs.io/en/latest/index.html

Feel free to create a new issue and build a prototype if you like.

[2021-10-27 19:57] #306 closed, assigned to nobody

[2021-10-27 20:13] dantownsend opened #314 "PostGIS proof of concept"
It would be great to have PostGIS support in Piccolo.

It would be a large chunk of work, so doing a proof of concept makes sense in the first instance, which provides basic functionality for common use cases.

There will most likely be a new file - something like `piccolo/columns/gis.py`.

[2021-10-29 18:25] dantownsend opened #315 "ASGI template improvements for FastAPI"
When doing some demos of Piccolo I've realised there's some weirdness with the FastAPI ASGI template.

Variables for Piccolo table instances are sometimes prefixed with an underscore, to distinguish them from Pydantic model instances. Instead, the Pydantic model instances should have the `_model` postfix.

For example:

[code]

Could be improved to this:

[code]

Also, some of the endpoints are re

[2021-10-29 18:33] dantownsend opened #317 "Improve tests for `piccolo asgi new`"
We have a basic test for `piccolo asgi new`:

https://github.com/piccolo-orm/piccolo/blob/master/tests/apps/asgi/commands/test_new.py

It can definitely be improved though. As a minimum, we should read the generated file contents, and use `ast.parse(file_contents)` to make sure the file is valid Python code. We use a similar approach here:

https://github.com/piccolo-orm/piccolo/blob/e0f04a40e868e

[2021-10-29 18:36] #315 closed

[2021-10-29 18:54] dantownsend opened #318 "Fix the docs"
Looks like docutils version needs to be pinned.

https://github.com/sphinx-doc/sphinx/issues/9727

[2021-11-01 07:17] AliSayyah commented on #318
It seems that we are ok.
Sphinx 4.2.0 has a `docutils < 18` pin.

[2021-11-01 07:22] AliSayyah commented on #317
@dantownsend That seems like a fun challenge. I would like to work on this.

[2021-11-01 11:24] yezz123 commented on #318
@dantownsend I was asking why not use Mkdocs, its have a lot of good UI and style to use for a futuristic documentation 🤔

[2021-11-01 15:00] dantownsend commented on #318
@AliSayyah Thanks, I'll try re-running it, and hopefully it'll work.

@yezz123 I considered MKDocs in the past. Markdown is generally more pleasant to work with than RST, and the [Material for MkDocs](https://squidfunk.github.io/mkdocs-material/) theme is great.

I have a love/hate relationship with Sphinx. It can be tricky to use. But the thing I really like is how it can auto generate docs from

[2021-11-01 15:00] dantownsend commented on #317
@AliSayyah Thanks, much appreciated. Even if it's just using `ast.parse` it will be a big improvement.

[2021-11-03 07:26] dantownsend opened #321 "Add `include_columns` option to `create_pydantic_model`"
`create_pydantic_model` has an `exclude_columns` argument, but it would be very useful to also have an `include_columns` argument.

If neither are specified, all columns are returned. If both are specified, then an exception is raised.

[code]

[2021-11-03 08:09] #318 closed

[2021-11-03 08:14] dantownsend commented on #318
The issue is fixed now. I created a separate discussion for themes:

https://github.com/piccolo-orm/piccolo/discussions/320

[2021-11-03 22:54] theelderbeever opened #323 "piccolo cli can't find piccolo_conf when app is run as a module from outside the module directory"
I typically structure my apps so that they can use relative imports and as a consequence will run my application from outside the app directory. When using `piccolo` this requires me to update some of the module locations and registrations but I can get the application run with `uvicorn --host 0.0.0.0 --port 8000 --reload app.app:app` just fine. However, when I attempt to use the `piccolo migratio

[2021-11-03 22:56] theelderbeever commented on #323
Explicitly adding the application directory to your `PYTHONPATH` seems to work but this doesn't seem like a great methodology.

[2021-11-04 11:19] dantownsend commented on #323
Hi @theelderbeever, thanks for reporting this issue.

One solution might be to use the `PICCOLO_CONF` environment variable ([more info](https://piccolo-orm.readthedocs.io/en/latest/piccolo/engines/index.html#piccolo-conf-environment-variable)). Something like:

[code]

That way you should be able to use the Piccolo CLI from the root directory.

I tend to run the Piccolo CLI from the same folder as

[2021-11-04 16:11] theelderbeever commented on #323
Thanks! `PICCOLO_CONF` appears to be solving the issue from what I can tell right now. I was hoping this would be the case because I much prefer `piccolo` to the other orms!

[2021-11-04 16:11] #323 closed

[2021-11-04 20:32] dantownsend commented on #291
I'll close this for now - judging from the article dataclasses are more performant.

[2021-11-04 20:32] #291 closed

[2021-11-04 20:34] dantownsend commented on #323
@theelderbeever Cool, glad that seems to work. Thanks for the kind words.

If there are any other issues, let me know.

[2021-11-04 21:04] dantownsend opened #325 "Improvements to locating `piccolo_conf.py`"
Issue https://github.com/piccolo-orm/piccolo/issues/323 gave me some ideas about improvements to the way Piccolo looks for a `piccolo_conf.py` file.

I'm just documenting them here as ideas - they could be developed in the future if people think they're needed.

## 1. `PICCOLO_CONF` changes

The `PICCOLO_CONF` environment variable could accept a comma separated list of paths, in case you wanted Pi

[2021-11-09 11:37] dantownsend commented on #321
Fixed by https://github.com/piccolo-orm/piccolo/pull/324

[2021-11-09 11:37] #321 closed

[2021-11-09 11:55] dantownsend opened #331 "`PydanticModel` class"
Currently we have good Pydantic support, via the `create_pydantic_model` function (see [docs](https://piccolo-orm.readthedocs.io/en/latest/piccolo/serialization/index.html#create-pydantic-model)). For example:

[code]

We could potentially add a `PydanticModel` class, which performs something similar (it will likely use `create_pydantic_model` under the hood):

[code]

It would require some metacl

[2021-11-09 12:40] dantownsend opened #332 "Better safe guards when running tests"
## Problem

We have a custom command for running unit tests:

[code]

It wraps pytest, and makes sure that `piccolo_conf_test.py` is being used instead of `piccolo_conf.py` by setting the `PICCOLO_CONF` environment variable. This is important because you really don't want your tests to be run against your development database by mistake (in case they drop tables etc).

The issue was originally rai

[2021-11-09 15:09] dantownsend commented on #332
Fixed by https://github.com/piccolo-orm/piccolo/pull/333 for now.

Happy to re-open this in the future though if there's a better solution.

[2021-11-09 15:09] #332 closed

[2021-11-11 17:22] trondhindenes opened #335 "enums seem to break create_pydantic_model fastapi openapi compatability"
Given a piccolo model containing an enum:

[code]

...and using `create_pydantic_model` to generate a dynamic pydantic class:
[code]
..and then using that as a fastapi response model:
[code]
Seems to break fastapi's openapi spec auto-generation:
[code]

If I exclude the enum field, the problem goes away:
[code]

I'm pretty sure fastapi is able to deal with regular pydantic models including enums,

[2021-11-11 18:12] dantownsend commented on #335
@trondhindenes Interesting - I'll take a look.

[2021-11-11 19:49] trondhindenes commented on #335
hm there might be something else at play here - I'm struggling to repro in another app. Will compare versions and do some more research.

[2021-11-11 19:56] dantownsend commented on #335
@trondhindenes I've come across a similar error before when using `create_pydantic_model` twice on the same Table.

You have to make sure they have unique names using the `model_name` parameter. FastAPI doesn't like it if multiple models or types have the same name. For example:

[code]

Maybe that's it? Otherwise there could be a strange bug - I'll write some tests to try and recreate it.

[2021-11-11 22:07] trondhindenes commented on #335
I think that's it - I found some other duplicate classnames. Strange, I was so sure the error was triggered by including that enum field.
Thanks for looking into it! I'm fine with closing this issue!

[2021-11-11 22:28] dantownsend commented on #335
@trondhindenes No problem - if the issue occurs again let me know.

I have some ideas about how to solve this better. I will probably add this soon: https://github.com/piccolo-orm/piccolo/issues/331

[2021-11-11 22:28] #335 closed

[2021-11-11 22:38] trondhindenes commented on #335
nice, that change makes a lot of sense

[2021-11-12 10:46] AliSayyah commented on #325
I like these ideas, especially `.piccolo`. it seems like a permanent solution.

[2021-11-12 11:48] dantownsend opened #336 "Tidy up tables used in Pydantic tests"
We migrated the Pydantic code from Piccolo API - and now there's quite a mishmash of different tables in there (some are movie based, some are music based, and some are computer based). It might be worth standardising them a bit (for example, using music based tables like the rest of the tests).

https://github.com/piccolo-orm/piccolo/blob/master/tests/utils/test_pydantic.py

Not urgent, but a goo

[2021-11-12 12:27] trondhindenes opened #338 "suggestion: add a refresh_object method and updated_fields param"
use case: If I'm dealing with the same record in multiple methods, they may overwrite eachother:

[code]
in this case, `some_other_stuff` will be overwritten, because `stuff1` will write it's entire object state to the db.

Two things that would help here:
1. being able to call `await customer.refresh_db()` to get an up-to-date view of the object
2. being able to call `await customer.save(update_f

[2021-11-12 12:32] trondhindenes opened #339 "suggestion: document how to get a single object"
given a known object id, the most efficient way of refreshing the object is to query by id, something like (pseudocode)
[code]
The documentation doesnt really show how to select a single object with a known id. Would be great if that was added.

[2021-11-12 13:37] dantownsend commented on #338
@trondhindenes Yeah, this is a tricky thing with ORMs - when the objects become out of sync with what's in the database.

One solution for now is to use ``update``:

[code]

But in terms of making it work better with `save`, I guess there are a few options:

 1. Automatically tracking which values have changed, and only syncing those values back.
 1. Provide an extra argument to the `save` method

[2021-11-12 13:42] dantownsend commented on #339
You're right, I guess another example should be added here:

https://piccolo-orm.readthedocs.io/en/latest/piccolo/query_types/objects.html#fetching-objects

Something like this?

[code]

[2021-11-12 13:43] trondhindenes commented on #339
perfect! I found myself a bit unsure how to do it. Figured it out thru a bit of trial and error but it might help others. Thanks!

[2021-11-12 14:06] dantownsend opened #342 "Add `secret` attribute to columns"
We have a `Secret` column type:

https://piccolo-orm.readthedocs.io/en/latest/piccolo/schema/column_types.html#secret

The reason this exists is to prevent inadvertent leakage of sensitive data. You can use it like this:

[code]

`PiccoloCRUD` also supports it.

The issue is `Secret` is a subclass of `Varchar` - there's no way to have a secret `Integer` for example.

The change will involve adding

[2021-11-12 23:03] dantownsend opened #344 "Add callbacks to queries"
It would be nice if there was a new clause which can be added to queries called `callback`.

For example:

[code]

The callback could be a function or coroutine, which will be passed two values - a boolean for whether the query was successful, and the result of the query.

The reason this is useful is because it's quite common for a function to return a query, and not actually run it. But it would

[2021-11-14 12:30] #342 closed

[2021-11-15 21:21] trondhindenes opened #353 "null vs empty string"
given a model:

[code]
this migration is auto-generated:
[code]

One would think that this would disallow creating a record with an empty email field, but it is allowed:
[code]
the sql statement generated from the migration is:
[code]
the returned object when queriyng is:
[code]

As far as I can see, the bug here is that piccolo sets an empty string as the default for the column, which is the defa

[2021-11-15 22:26] trondhindenes commented on #353
adding to this: regarding my third "problem", I guess explicitly setting the default value will solve it:
[code]
to me this feels slightly counter-intuitive but it's a completely valid workaround.

[2021-11-15 22:27] dantownsend commented on #353
@trondhindenes I think what is causing confusion is the default for a `Varchar` is an empty string.

https://github.com/piccolo-orm/piccolo/blob/c569d1419e2c197c3954d457501055a2d83a5287/piccolo/columns/column_types.py#L164-L169

Even if it's set as `null=True` it will still save OK, because it defaults to an empty string.

[code]

I agree that this can cause confusion, as dealing with truthy/falsy

[2021-11-15 22:33] dantownsend commented on #353
Yeah, you're right.

[2021-11-15 22:33] trondhindenes commented on #353
This is _exactly_ what bit me the first time :-)
It could be as simple as just documenting really well "how to handle nulls"

As for the "force non-null" I think `required` would help a lot - I'd love to see that enabled by default when `null=False` and `default` isn't specified, but I guess that risks breaking backwards compatability.

[2021-11-15 22:38] trondhindenes opened #354 "feature request: implement advanced selectors such as `ExactlyOne` and `FirstorFail`"
I'm noticing a lot of code in my app is spent checking for None:

[code]

Could it be an idea to implement an alternative to `first` that will throw a `RecordNotFound` exception if zero items are returned?

Another variant would be a method to retrieve exactly one item from the db, that would raise both on 0 and more than 1 records.

(these are not especially difficult to implement "locally" ofc,

[2021-11-16 07:23] dantownsend commented on #354
Yes, I can see this being useful. Especially people coming from Django. Something like this?

[code]

[2021-11-16 12:22] trondhindenes commented on #354
yup! the one we built internally has a few more bells and whistles:

[code]

[2021-11-16 15:06] dantownsend commented on #354
Thanks.

I could potentially kill two birds with one stone, by fixing this issue and this other one at the same time https://github.com/piccolo-orm/piccolo/issues/344

So the solution could be:

[code]

[2021-11-16 15:34] trondhindenes commented on #354
nice, that's elegant!

[2021-11-18 14:35] trondhindenes opened #355 "piccolo object deletion side effects"
given this code:
[code]
piccolo will attempt to delete _all_ records from the `customer` table, not just the current. Documentation states that `remove()` is the correct method to use, but it would maybe be good if `delete` was hidden from class instances to avoid confusion.

[2021-11-18 21:39] dantownsend commented on #355
@trondhindenes Good catch.

I was quite concerned that the delete would actually succeed, but fortunately it seems to fail unless you specify ``delete(force=True)``. 😅

It looks like the `__new__` method of a metaclass can be used to remove class methods from a class instance, so it should be possible to remove the `delete` class method.

[2021-11-18 23:53] trondhindenes commented on #355
I should have specified that we're still protected by the `force` flag - sorry for giving you concern :-)

[2021-11-22 13:19] gmos opened #356 "Pylance complains about import in auto generated migrations."
![image](https://user-images.githubusercontent.com/1526544/142867514-9294c787-8fb7-4e23-a4cb-f0be7b52b0af.png)

Dan,

As the screenshot shows Pylance seems to ignore the relative import of the MigrationManager done in `piccolo/apps/migrations/auto/__init__.py` and wants to see:
`from piccolo.apps.migrations.auto.migration_manager import MigrationManager`

I'll also check Pylance's issue list.  Thi

[2021-11-22 13:44] dantownsend commented on #356
@gmos That's an odd one. I'll change the import in the next release, thanks.

[2021-11-24 22:59] dantownsend commented on #356
@gmos Thanks for looking into it so thoroughly. I've done a PR for option 2 - using a more explicit import path.

Importing it as `__MigrationManager` is a clever solution, which would fix the issue for existing migration files. Hopefully there's an official solution in the future in Python or Pyright.

[2021-11-24 23:00] #356 closed

[2021-11-25 11:25] brnosouza opened #358 "Using asyncio.gather raises TypeError"
When using asyncio.gather with any query instance, Insert for example, it raises a TypeError

[code]

Does something changed? Because I remember this was working in a few versions ago. I'm using python 3.9/3.10

A workaround for now is to manually for-loop the queries

[2021-11-25 12:02] dantownsend commented on #358
@brnosouza You're right, that's very odd.

I had a look, and it seemed like only some query types weren't working with `asyncio.gather`.

The ones which weren't working were dataclasses. There was no need for them to be dataclasses anymore, so now they're plain classes and they seem to work.

It looks like there's some weird behaviour around hashing dataclasses, which is why the `TypeError` was be

[2021-11-25 12:04] brnosouza commented on #358
thanks @dantownsend

[2021-11-25 12:13] #358 closed

[2021-11-25 12:20] dantownsend commented on #358
@brnosouza It's on PyPI now version 0.60.2 - hopefully it fixes your issue. Thanks.

[2021-11-29 16:21] gmos opened #363 "piccolo schema generate crash on index parse."
The following index DDL causes `piccolo schema generate` to crash.

[code]
The regular expression used doesn't match more than one column name in the index and a failing match is not handled.  This resultsd in a: 'NoneType' object has no attribute 'groupdict'.

Moreover the INCLUDE clause is completely ignored.

[2021-11-29 16:43] gmos opened #364 "Column types unknown to Piccolo crash schema generation in default look-up."
Piccolo doesn't handle the (fixed length) Character datatype.
When the column type is unknown to Piccolo, the schema generation defaults to the generic Column type, and a warning is added to the output.

Later on the generator attempts to parse the default value for the column.  Unfortunately the  COLUMN_DEFAULT_PARSER map does not contain an entry for Column, causing the generation to fail with a

[2021-11-29 19:52] dantownsend commented on #363
@gmos Thanks for reporting this issue.

I'm most concerned about it failing ungracefully. The schema generation isn't perfect, but as long as the user is alerted to issues, they can hand modify the schema when required.

[2021-11-29 20:09] dantownsend commented on #364
@gmos You're right - good catch.

I'm surprised the unit tests didn't catch this, I need to investigate.

I've opened a PR which makes the change you suggested.

It would be fairly simple to add a `Character` column type to Piccolo. I don't tend to use them - what kinds of things do you usually use them for?

[2021-11-30 00:37] gmos commented on #364
@dantownsend I use Character type for fixed length ID's of sensors.  Saves one (or two) length bytes per item.
Is a wee bit more economical on storage, memory and CPU and comparisons, sorts etc will be bit faster.  Actually irrelevant for my application with  only 1000 or so sensors. More a habit from long ago.  I'll happily change them to varchar in the DB.

But the absence of Array can't be work

[2021-11-30 00:51] gmos commented on #363
@dantownsend  Composite unique indices are quite common.  Fixing the recognition would not be a problem, but all index creation in Piccolo now seems to be tried to Column.  Won't work for composite indices.  Think a warning would do.
The INCLUDE clause is probably quite rare.  Warning would be ok too here.

[2021-11-30 15:48] gmos opened #367 "TimestampNow is inconsistent."
Hi @dantownsend, think that TimestampNow is inconsistent regarding the use of timezones.

The timestamp currently returned is in:
- SQLLite -> UTC  (according to doc an checked on my CET machine)
- Postgres  -> UTC (checked on a couple of databases in the EU; will be DB TZ setting dependent). But UTC timezone can be casted.
- Python -> Localtime.  On my CET machine.

So to get this consistent in U

[2021-12-04 09:40] dantownsend commented on #317
Fixed by https://github.com/piccolo-orm/piccolo/pull/340

[2021-12-04 09:40] #317 closed

[2021-12-04 09:45] #14 closed

[2021-12-06 12:33] rathourarv opened #371 "[Migration] - Updating a column value using column values in piccolo migration"
We have a table Person with name and their date of birth.

`class Person(Table):
    id = Serial()
    name = Varchar()
    date_of_birth = Date()
`

We need to add the column age on the same table now. We need to populate the age for existing entries using dob. I want to write a migration for it where I can add the age using their date of birth.

`async def forwards():
    manager = MigrationMana

[2021-12-06 12:53] dantownsend commented on #371
@rathourarv The reason the docs say never to import a table class within a migration file is because the table class might get deleted in future. The migration would no longer run, as the import would fail.

It's best to keep your migration files as self contained as possible.

If you're pretty confident that the table class would never get deleted (in your example, `Person`), then it's OK.

Alter

[2021-12-09 10:49] dantownsend commented on #371
Closing this issue for now. I'll update the docs on migrations at some point.

[2021-12-09 10:49] #371 closed

[2021-12-09 11:43] rathourarv commented on #371
Thanks! It was helpful.

One question, If I move the Person class to migration then how should we update the model if we want to add a new column in the future to this Person table?

[2021-12-09 11:48] dantownsend commented on #371
@rathourarv You would still keep the `Person` class in your tables.py file.

The one in the migration file is just a copy of it, so the migration file is self contained, and doesn't have to import anything which may be deleted in the future.

I hope that makes sense - it's quite tricky to explain.

[2021-12-14 20:29] trondhindenes opened #373 "is method overriding supported?"
It's not clear to me if this is supported:

[code]

it would be good to have some documentation around what's ok and not ok in terms of overriding methods, and which methods to typically override (save, update, delete etc)

if these overrides are supported, it would be very valuable to have async-enabled overrides (a typical use case would be to be able to fire a http request upon database object

[2021-12-14 21:13] dantownsend commented on #373
@trondhindenes Yes, good idea - it should be in the docs.

You can override the ``save`` method as you've done there. It should work in most other situations too.

[2021-12-14 23:25] trondhindenes commented on #373
thanks, good to know! I couldn't find a way to override with an async, is there a hook for that?

[2021-12-15 08:10] dantownsend commented on #373
If you override `save`, it will work for the sync and async use case.

[code]

But lets say you wanted to run an async query within your save method, that's a bit trickier. In that case you might be better off creating a separate method.

[code]

[2021-12-15 08:12] trondhindenes commented on #373
gotcha, thanks. It would be great to have the ability to run code (async) in the context of save/delete/update methods automatically. I believe there was another issue and incomplete pr attempting to implement that.

[2021-12-15 08:32] dantownsend commented on #373
Yeah, there was some discussion a while back about having signals, similar to Django (except the signals could be async).

Signals are quite tricky - they have valid use cases, but can make the control flow of an application harder to follow.

I'm not averse to adding something like signals, but some thought needs to go into the API. There's the Django approach where it's completely decoupled - so

[2021-12-15 15:26] trondhindenes commented on #373
yup, I have to admit we keep comparing piccolo/fastapi with Django since we run a bit of each.

we avoid django signals unless we have no other choice. Still, having the ability to just call `Customer.save()` in django and know that save hooks are handled (with the exception of cascading deletes) is very nice.

I'm not necessarily looking for signals - I don't need "fire and forget" functionality.

[2021-12-15 15:44] dantownsend commented on #373
@trondhindenes Yes, I totally agree. I feel the need with Piccolo Admin / Piccolo API as well - being able to hook into it without overriding stuff would be very useful.

[2021-12-15 17:03] trondhindenes commented on #373
my first idea was to imply have `save()` etc pass on a list of async functions into `run()` which would then execute them. But these hook functions probably need to be able to mutate the `self`, which would invalidate the "query". Tricky.

the code is a bit above my paygrade so I'm afraid I don't have much to contribute here other than cul-de-sacs :-(

[2021-12-18 15:48] realnitinworks opened #377 "test "test_dump_load" failing"
I followed the "Get the tests running" steps in https://piccolo-api.readthedocs.io/en/latest/contributing/index.html. All steps work fine and I ran the ./scripts/test-postgres.sh. One test fails

`FAILED tests/apps/fixtures/commands/test_dump_load.py::TestDumpLoad::test_dump_load - AssertionError: {'id'[261 chars]('1.10'),`

[code]

A note on how I setup Postgres: I spun up the Postgres using dock

[2021-12-18 16:19] sinisaos commented on #377
@realnitinworks This test failed due to a different time zone. So it is, at least in my case. In the tests time zone is `UTC` and if you set your machine date and time to this time zone everything will be fine and test will pass. This screenshot is from Linux Mint system

![Screenshot from 2021-12-18 16-15-51](https://user-images.githubusercontent.com/30960668/146648003-f200d9d0-903f-4c32-beaa-e7b

[2021-12-18 16:26] realnitinworks commented on #377
Thanks @sinisaos. I believe then we close this ticket.

[2021-12-18 16:31] realnitinworks commented on #377
In the documentation for Setup Postgres in Getting started section,  wouldn't it be helpful to include the documentation on how to setup Postgres through Docker?

[2021-12-18 16:58] sinisaos commented on #377
@realnitinworks You're welcome. If Daniel wants to add that to docs he can, but I don't think that's a big deal because if you want to contribute and add PR to Piccolo (I hope you will because this is awesome project :) ) this test will pass regardless of your local machine settings. Feel free to close this issue.

[2021-12-18 17:00] #377 closed

[2021-12-19 21:07] dantownsend opened #378 "Reverse foreign key lookups"
Now we have M2M, it makes sense to add something similar for reverse foreign key lookups.

This needs doing before v1.

Here's an example API design:

[code]

[2021-12-23 13:18] dantownsend opened #381 "Filtering with the new M2M column"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/380

<div type='discussions-op-text'>

<sup>Originally posted by **brnosouza** December 23, 2021</sup>
I was checking and we have now the M2M column (thanks @dantownsend for that), but I didn't see in the docs how to filter a select query with that.
Is this already possible?</div>

[2021-12-25 08:02] AliSayyah commented on #378
@dantownsend Is it necessary to have a ReverseLookup field specified by the user?

[2021-12-25 09:21] dantownsend commented on #378
@AliSayyah Good point - it could be done that way. The reverse lookup could then be created by the table metaclass. The only downside is it might not work as well with tab completion, but it's a simpler API for users.

[2021-12-27 22:13] brnosouza commented on #378
And what about stubs for that?

[2021-12-28 08:33] dantownsend commented on #378
One option is for the user to do something like this, which would give better tab completion:

[code]

[2022-01-01 07:05] mrbazzan commented on #265
@dantownsend Can I pick this issue up?

[2022-01-01 07:23] dantownsend commented on #265
@mrbazzan That would be great, thanks

[2022-01-07 19:54] trixden opened #384 "Syntax error with self references"
I have a simple model:

[code]

when i make a simple query:

[code]

i get syntax error. Here is the query that piccolo builds:

[code]

[2022-01-07 21:29] dantownsend commented on #384
@trixden Yeah, that's strange.

I had a play around, and it might be because of the column called "alias". When I called that something else, it worked. Can you check this?

[2022-01-07 21:39] trixden commented on #384
@dantownsend , i checked. Yes, that's the problem. Thanks

[2022-01-07 21:41] #384 closed

[2022-01-07 22:14] dantownsend commented on #384
@trixden Cool, glad it's sorted.

[2022-01-11 07:47] sinisaos opened #390 "Problem when add BaseUser to existing table"
I ran to a problem when I want to add `BaseUser` to an existing table (e.g. in the default Task app) after using `piccolo migrations  forwards user`. If I want to add new colum like this
[code]
I got the error `relation "piccolo_user" already exists`. If I don't run `piccolo migrations forwards user`, everything is fine and I can add BaseUser to the existing table. If I create a new application wi

[2022-01-11 08:55] dantownsend commented on #390
@sinisaos I think the problem is when you look at the `piccolo_app.py` file generated by `piccolo asgi new`, it uses `table_finder`.

It will be importing all `Table` classes from `table.py`, including `BaseUser`. When you create a migration file to add the `task_user` column, it is probably also trying to recreate `BaseUser`.

The way I get around this is using tags.

[code]
Then `table_finder` b

[2022-01-11 16:17] #390 closed

[2022-01-13 09:03] dantownsend opened #394 "Foreign Keys that reference non pk columns"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/393

<div type='discussions-op-text'>

<sup>Originally posted by **theelderbeever** January 13, 2022</sup>
Is it possible to create a foreign key on a table that references a column other than the primary key on a table? The documentation seems to imply that you can only pass a table to `ForeignKey` and it picks up the pk. I would

[2022-01-14 08:13] mrbazzan commented on #265
@dantownsend How is the data passed to `from_fixture` structured?

or

[2022-01-14 14:58] dantownsend commented on #265
@mrbazzan Thanks for adding this.

I think this will be the format:

[code]

[2022-01-16 21:12] dantownsend commented on #394
Reopening, as there are still changes required to Piccolo Admin and Piccolo API.

[2022-01-20 20:17] #265 closed

[2022-01-20 22:37] dantownsend opened #397 "Investigate descriptor protocol"
One challenge we've had for a while (see https://github.com/piccolo-orm/piccolo/issues/62) is correctly typing ``Table`` classes.

Take this example:

[code]

When dealing with ``Band`` as a class, then ``name`` is a ``Varchar``. When dealing with a ``Band`` instance, then ``name`` is a ``str``.

This dual nature is hard to type correctly.

[code]

## Solution 1 - dict syntax

I use this workaroun

[2022-01-21 11:32] dantownsend commented on #397
After further investigation, it seems to work really well.

[code]

[2022-01-21 18:07] #397 closed

[2022-01-21 18:07] #62 closed

[2022-01-25 18:20] theelderbeever opened #404 "str representation of query not compatible with Table.raw when using uuid/date columns"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/403

<div type='discussions-op-text'>

<sup>Originally posted by **theelderbeever** January 25, 2022</sup>
Version info:
piccolo = "0.64.0"

I am attempting to use some of the query building tools to generate custom complex queries that aren't directly possible through the ORM at the moment. During this I ran into a case where Att

[2022-01-25 20:50] dantownsend opened #406 "Expose an API for dealing with `QueryString`"
Piccolo uses a class called `QueryString` internally for composing queries. It's very powerful, and allows you to compose complex nested queries, and compiles to a parameterised SQL statement and values.

At the moment, if someone wants to compose their own query, they have to use `raw`. For example `await Band.raw('some custom query')`.

As a middle ground, we should allow the user to compose the

[2022-01-29 00:21] theelderbeever opened #410 "Where JSONB column is_null produces incorrect query statement"
python 3.10.1
piccolo: 0.66.0
db: Postgres

When doing a select or otherwise and comparing a `JSONB` columns to `None` or `.is_null()` the query string adds in a python object causing an error in the Postgres prepare statement.

[code]

Emitted sql
[code]

Error
[code]

[2022-01-29 15:08] dantownsend opened #411 "Add error to Table.update() without where clause"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/409

<div type='discussions-op-text'>

<sup>Originally posted by **theelderbeever** January 28, 2022</sup>
As a point of discussion running `await Table.update({"column": "value"})` without a `.where` will cause an update on an entire table. While this is a poor developer mistake to make I wonder if it would be wise to have an arg

[2022-01-29 17:31] dantownsend commented on #410
You're right - I've been able to replicate this.

It's pretty strange. I'll look into it.

[2022-01-31 17:45] theelderbeever commented on #410
Not sure if relevant or already addressed by this but when doing an `Table.insert(Table(jsonb_column=None))` Piccolo doesn't appear to encode the value as a SQL `NULL` value which makes `NOT NULL` and `IS NULL` comparison not behave as expected. The value will show up as `null` in the database but it will be a jsonb serialized `null` instead of a SQL `NULL`.

[2022-01-31 17:50] theelderbeever commented on #410
Maybe a `SQL_NULL` delegate so the ORM knows to add it to the query as `NULL` without quoting it?

[2022-01-31 18:02] theelderbeever commented on #410
Tested with setting the column default to `None` and that value is appropriately set to a SQL `NULL` so this only occurs when doing an `INSERT` with a `None`.

[2022-01-31 18:17] dantownsend commented on #410
@theelderbeever Yes, you're right - I only discovered that yesterday. I added a fix for it as part of the same PR:

https://github.com/piccolo-orm/piccolo/pull/413

What I was thinking was, if the column is nullable:

 * Specify `None` for SQL null.
 * Specify. `'null'` for JSON null

If the column isn't nullable then both `None` and `'null'` give JSON null.

What do you think?

[2022-01-31 19:32] theelderbeever commented on #410
With the risk of having too many configurable arguments... I think `None` *always* being SQL `NULL` is a bit more consistent. That way devs can rely on the  `NOT NULL` constraint to reject values.

[2022-01-31 20:01] dantownsend commented on #410
@theelderbeever I think you're right - making `None` always mean SQL null is more straight forward and easier to understand.

[2022-01-31 20:02] theelderbeever commented on #410
Another option for the coercion could be...

[code]

[2022-01-31 20:22] theelderbeever commented on #410
Also I promise to stop hammering on the json stuff soon but noted this as well...

This works...
[code]

This doesn't...
[code]

The emitted SQL turns the json into an empty string and raises a
[code]
[code]
Has a simple workaround obviously but, just something to take note of.

[2022-01-31 22:02] #411 closed

[2022-01-31 22:59] theelderbeever commented on #410
Yeah I see what you mean... Not a lot of options there. Shame there isn't some combination of Template and Formatter.

Expounding on the above example when providing multiple values where an `int` or otherwise follows a `jsonb` the prepare statement fails in a strange way.

[code]

[code]

Strangely, the emitted SQL can be pasted into another client and works fine.

This specifically occurs when t

[2022-02-01 22:11] dantownsend commented on #410
@theelderbeever I'm trying to recreate that `DataError` issue. I made this simple script, but am getting a syntax error for the SQL:

[code]

I'll experiment a bit more.

[2022-02-01 23:28] theelderbeever commented on #410
Ah whoops copy-paste-edit error when creating a non project specific example....

This should do the trick. Two edits...
1. Added `FROM temp t` after the `SET` clause.
2. Also realized that the jsonb column has to be type cast coming from the temp table. So added `t.jsonb_data::jsonb`

[code]

[2022-02-02 06:33] sinisaos opened #414 "Asgi template for Xpresso framework"
We could add an asgi template for the new [Xpresso](https://xpresso-api.dev/0.9.2/) framework. We practically need to add two files and change several others because Xpresso shares a lot of things with Starlette and we can [mount](https://xpresso-api.dev/0.9.2/tutorial/routing/) Piccolo Admin at a route. I can do PR because I’ve already tried that and everything works well. What do you think about

[2022-02-02 07:57] dantownsend commented on #414
I think it's a good idea. If we were to support another ASGI framework, then Xpresso would be top of my list, because it's shaping up to be a nice framework, and as you mention we can easily mount Piccolo Admin.

It's still quite early days with Xpresso though, and the API could potentially change. @adriangb - do you think the API is stable enough for this?

@sinisaos If you already have it workin

[2022-02-02 08:46] sinisaos commented on #414
@dantownsend Done.

[2022-02-02 13:28] dantownsend commented on #410
@theelderbeever I had a look into it a bit more, and I could replicate the error:

[code]

The error is:

[code]

It seems like the issue is with asyncpg. When I directly passed the query to asyncpg, bypassing Piccolo entirely, I got the same error:

[code]

How about directly doing an update, rather than using `WITH`?

[code]

I'll create an issue in asyncpg.

[2022-02-02 14:17] dantownsend commented on #410
@theelderbeever I think I know the issue now.

If you do this, then it works OK:

[code]
Postgres must assume that each value coming back from the `WITH` statement will be a string, which is why it complains when we're passing an integer.

[2022-02-02 15:35] theelderbeever commented on #410
Part of the reason I haven't been doing a direct approach is because the real application is a bulk update so the `WHERE e.name = t.name` is needed along with the CTE (or subquery).

Just discovered though that the `VALUES` list causes the bad typing not the CTE. And applying the casting in the `SELECT` seems to be the smoothest.

[code]

Thanks for all the work on this btw! Been a little deep in

[2022-02-02 16:13] dantownsend commented on #410
@theelderbeever No worries - it was a good learning experience.

[2022-02-02 16:56] adriangb commented on #414
I think that'd be a good idea. It will help both of us. I'm happy to fix any issues that come up as long as we can detect them.

[2022-02-02 22:28] theelderbeever commented on #410
FWIW would it be valuable to have the querystring automatically attempt to `json.dump` lists and dictionaries when doing something like the above? Right now it just directly inserts the value and that tends to fail the sql. Which means that manually dumping the values has to be done.

[2022-02-03 00:12] theelderbeever opened #417 "Rename column causes persistent rename column prompt in migration manager"
If you rename a column in a Table and auto generate a migration you will be asked if you renamed a column. Answering "Y" and running the migration gives you the correct behavior. However, on subsequent migrations you are asked about the exact same column again. Also note that when renaming multiple columns answering "N" to the first prompt stops further ones. Additionally, The name pairings in the

[2022-02-03 01:08] theelderbeever opened #418 "piccolo migrations new my_app doesn't create new blank migration"
`piccolo migrations new my_app` doesn't create a new migration if there are no table changes since the last migration. This makes it difficult to create `raw` migrations.

[code]

[2022-02-03 10:42] dantownsend commented on #418
@theelderbeever Yeah, that's odd. When you use `piccolo migration new my_app` without the `--auto` flag, it should just create a blank migration.

It must be some kind of edge case. Is this a brand new app?

[2022-02-03 15:19] theelderbeever commented on #418
Nah its an older app but I have been bumping the version.

Also I can't repro it this morning so I have no idea. I can reopen if I can repro it later.

[2022-02-03 17:28] dantownsend commented on #417
@theelderbeever I'll investigate - the migrations shouldn't keep asking you if you renamed a column. There could be a bug.

[2022-02-03 17:30] dantownsend opened #421 "Document extending `BaseUser`"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/420

<div type='discussions-op-text'>

<sup>Originally posted by **rogersjw** February  3, 2022</sup>
Hopefully the question is self-explanatory enough. I'm new to piccolo, coming from mainly using sqlalchemy previously. I love the 'battery included' BaseUser class and 'user' app. However, I'd like to build in multifactor authenti

[2022-02-03 17:36] #414 closed

[2022-02-03 19:26] sinisaos commented on #421
@dantownsend If you want, I can add docs for extending `BaseUser`.

[2022-02-03 19:52] dantownsend commented on #421
@sinisaos If you don't mind, that would be great. I think we just document the `Profile` solution for now, until we figure put something better.

[2022-02-03 19:59] sinisaos commented on #421
@dantownsend OK. I will omit the part where the user can create a custom `BaseUser` from the default Piccolo `user` app. Although it is also useful.

[2022-02-04 08:20] dantownsend commented on #417
@sinisaos Can you help me with this if you get the chance? Can you try recreating this bug?

[2022-02-04 08:42] sinisaos commented on #417
@dantownsend Of course. I'll try recreating this bug and reporting result here.

[2022-02-04 09:39] sinisaos commented on #417
@dantownsend I can recreate this bug. @theelderbeever is right. If we choose either `y` or `n` Piccolo always change the column and it is not correct. The problem is probably here https://github.com/piccolo-orm/piccolo/blob/0eb325f3083bac50e6241d6df3d04fe3dc095cf6/piccolo/apps/migrations/auto/schema_differ.py#L82

[2022-02-04 10:13] dantownsend commented on #417
@sinisaos Thanks for looking into it. I can also replicate it.

When it asks 'did you rename?' - if I answer 'n', then it drops the old column and creates the new one, which is correct.

If I answer 'y', it creates a rename operation, which does get applied to the database.

However, the next time I try and create an auto migration, Piccolo doesn't seem to realise that the column was renamed.

I m

[2022-02-04 10:40] dantownsend commented on #417
As pointed out by @theelderbeever there is also an issue when trying to rename multiple columns in one go.

In this scenario:

[code]

If we update it to:

[code]

Then just asking `did you rename a1?` is insufficient, because a1 could now be `b1` OR `b2`.

We might need multiple user prompts:

[code]

If you have a lot of renamed columns, that's a lot of user prompts!

The prompt could be:

[code

[2022-02-04 10:54] dantownsend commented on #417
There's a version of PyPI now which partially fixes this issue (0.69.1).

Just need to figure out a solution for when multiple columns are renamed in a single migration.

[2022-02-04 14:07] sinisaos commented on #417
This solution would be great.

[2022-02-09 10:10] sinisaos commented on #421
@dantownsend You can close this because it is done.

[2022-02-09 10:12] sinisaos commented on #394
@dantownsend Fix for Piccolo Api and Piccolo Admin is [here](https://github.com/piccolo-orm/piccolo_api/pull/134)

[2022-02-09 11:09] #421 closed

[2022-02-09 16:46] theelderbeever commented on #406
I think it would be really helpful to be able to nest `QueryString` objects as well. This would make passing the parameters easier to construct as well and I think would help with making helper functions down the road. Right now if you do something like the following...

[code]
The second `QueryString` interpolation will turn the json data into `''` a blank string.

[2022-02-09 17:03] theelderbeever commented on #418
Okay I think I repro'd it... It fails when you include the `--desc` option however, it will succeed when removing that.
[code]

[2022-02-09 22:55] dantownsend commented on #418
@theelderbeever Yes, you're right - how strange! I'll take a look.

[2022-02-09 23:18] dantownsend commented on #418
It turns out it's a limitation of the targ library which powers Piccolo's CLI.

It needs an equals sign:

[code]

I'll try and fix it

https://github.com/piccolo-orm/targ/blob/694ab94e6578eaf6f63c86d74e6d2b0c4da0de6d/targ/__init__.py#L356

[2022-02-11 06:44] cheesycod opened #429 "Array of foriegn keys"
It would nice if we could have a array with base_column of foreign keys

[2022-02-13 16:51] wmshort opened #431 "syntax error when adding index in migration"
I am trying to add an index to a Varchar column on a table. Auto creating migrations work perfectly fine, but when I try to run the migration it fails with a syntax error ('syntax error at or near' + name of column). This is the only change in the migration and the migration file itself does not contain errors. Any sense for what could be causing the issue?

Thanks

[2022-02-13 17:09] dantownsend commented on #431
@wmshort What column type was it? And what's the column name? I'll try and recreate the issue.

I just tried this simple example, and it seemed OK:

[code]

I didn't explicitly specify an index method - I used the default one, which is btree.

There could be some kind of edge case.

[2022-02-13 19:59] #431 closed

[2022-02-16 09:13] trondhindenes opened #436 "IDE type hints expects "Where", "WhereRaw", "And", "Or""
My editor doesn't like this statement, since it evaluates to a boolean type, which doesn't match the type signature `Combinable = t.Union["Where", "WhereRaw", "And", "Or"]`

![Screenshot from 2022-02-16 10-11-55](https://user-images.githubusercontent.com/1747120/154232719-01d211a5-a13e-4d0a-b540-351c4ed5802e.png)

[2022-02-16 09:33] dantownsend commented on #436
@trondhindenes Is that VSCode?

It probably doesn't realise that `email` is a column, so it isn't seeing this:

https://github.com/piccolo-orm/piccolo/blob/ef54858b86ea936b8bbb85b76225156de650d983/piccolo/columns/base.py#L663

If you try this, it might help:

[code]

[2022-02-16 09:41] trondhindenes commented on #436
this is Pycharm. I'll try the alternative approach, thanks!

[2022-02-16 09:43] trondhindenes commented on #436
![Screenshot from 2022-02-16 10-43-03](https://user-images.githubusercontent.com/1747120/154237846-0f11ef33-1dbd-4495-8194-905b45c9007e.png)

hm that seems to also be problematic

[2022-02-16 10:04] dantownsend commented on #436
I wonder which linter PyCharm is using - maybe it's something proprietary.

I can't think of a perfect fix, but it's probably one of:

Changing this:

https://github.com/piccolo-orm/piccolo/blob/ef54858b86ea936b8bbb85b76225156de650d983/piccolo/columns/column_types.py#L1818

To:

[code]

Or as you said before, changing:

https://github.com/piccolo-orm/piccolo/blob/ef54858b86ea936b8bbb85b76225156de6

[2022-02-16 10:16] trondhindenes commented on #436
I'm not sure. I'm using this https://plugins.jetbrains.com/plugin/12861-pydantic to get pydantic-autocomplete in pycharm, not sure if that could be related?

[2022-02-16 10:25] dantownsend commented on #436
It could be that plugin, or PyCharm's builtin Python linter. I need to download PyCharm and give it a go.

Can your try patching your local version of Piccolo with this change to `ForeignKey` to see if it solves the problem?

[code]

[2022-02-18 23:01] dantownsend opened #438 "Use Piccolo theme for docs"
https://github.com/piccolo-orm/piccolo_theme

[2022-02-18 23:17] #438 closed

[2022-02-21 12:20] trondhindenes commented on #436
Sorry, didn't get around to this yet. Will test today or tomorrow.

[2022-02-21 13:43] dantownsend commented on #436
No worries - whenever you can. Thanks

[2022-02-25 08:25] trondhindenes opened #441 "Document how to run code on a table's records during migration"
Today I found myself adding a new boolean column to a table which defaults to False, but I wanted all existing records to have the data set to "True". In django I would have done `migrations.RunPython()`. The piccolo docs state clearly not to direclty import tables into the migrations but it feels to me that there's a bit of gap in the docs regarding how to "massage data" during a migration given

[2022-02-25 08:44] dantownsend commented on #441
@trondhindenes You're right - the docs don't cover the grey areas around migrations very well.

It says never to import tables directly into migrations. It might be OK to do this in some situations - e.g. if you're pretty confident that table won't get deleted from your codebase in the future.

Alternatively, I tend to copy the relevant tables into the migration file.

[code]

The docs should real

[2022-02-26 08:35] trondhindenes commented on #441
nice, yes those are exactly the tips and tricks I was looking for :-)

[2022-02-26 15:01] trondhindenes commented on #436
So as far as I can see, this doesn't have an effect:
[code]

This, however, causes the typing warnings to disappear:
[code]

[2022-02-26 17:12] dantownsend commented on #436
@trondhindenes Thanks for looking into it.

What if the annotation is this instead:

[code]

Adding `bool` might be the only solution.

[2022-02-26 18:27] #441 closed

[2022-02-26 18:35] dantownsend commented on #441
I've updated the docs now to have more examples:

https://piccolo-orm.readthedocs.io/en/latest/piccolo/migrations/create.html

[2022-03-01 10:57] trondhindenes opened #444 ""Do you really want to update all rows" on statement with where clause"
I'm preparing to run some updates as part of a migration, here's my test script that I'll eventually add to the migration:

We're changing the `onboarding_completed`flag to be `Boolean(default=False, null=False)` and plan to run this script beforehand:
[code]

However, this triggers the error
[code]
Which I'm finding strange, since there is a where clause here.

[2022-03-01 11:01] dantownsend commented on #444
@trondhindenes I think this is the problem: `.where(Customer.onboarding_completed is None)`.

Try this: `.where(Customer.onboarding_completed.is_null())`

[2022-03-01 11:02] trondhindenes commented on #444
yeah, I just saw it. Changing to "== True" also works. Hm, it would be awesome if piccolo somehow could warn that `is True` is an incorrect where clause. But, the quick is documented, it was just me not paying attention. So this isn't really a bug.

[2022-03-01 11:06] dantownsend commented on #444
Yes, you're right - Piccolo could output a warning in this situation. It just needs to check if a `bool` is being passed in, as this is probably an accident.

In an ideal world we could just override the `is` opeator, and `SomeTable.some_column is None` would work, but I don't think it's possible currently with Python.

[2022-03-01 11:54] dantownsend commented on #444
I've opened a PR to fix this. Piccolo will now raise a `ValueError` if a boolean is accidentally passed into `where` clause.

[2022-03-01 12:11] #444 closed

[2022-03-01 16:53] trondhindenes commented on #444
hm that will affect https://github.com/piccolo-orm/piccolo/issues/436 won't it? at least pycharm tells me that all my where clauses are booleans.
I don't know if there's some smart way to determine if `is` was used instead of `==`?

[2022-03-01 23:22] gmos opened #446 "schema generate incorrectly generates an error when a column is not null and there is no default"
schema generate incorrectly generates an error when a column is not null and there is no default.

This check is wrong.  Though Postgres enforces this rule on ALTER TABLE to handle existing rows, it is perfectly legal to have not null without a default on existing columns.
Propose to remove the check.

[2022-03-01 23:25] gmos opened #447 "Feature request: make schema generate more verbose."
It would be quite helpful when schema generate would let us know on which table and column it was working when it bails out.

[2022-03-02 13:04] dantownsend commented on #444
I don't think there's a way to detect if `is` was used.

I think Pycharm mistakenly thinks `MyTable.some_column = 'abc'` returns a bool, but we override `__eq__` so it returns a `Where`:

https://github.com/piccolo-orm/piccolo/blob/5aea0fdc4f40a99615f534ec49a38b242a5f5cb0/piccolo/columns/base.py#L664

It could be a limitation of Pycharm's proprietary type checker. I'd raise an issue to ask them, b

[2022-03-02 13:44] dantownsend commented on #446
Yeah, it's probably triggering this error:

https://github.com/piccolo-orm/piccolo/blob/5aea0fdc4f40a99615f534ec49a38b242a5f5cb0/piccolo/columns/base.py#L461

It could be removed, or turned into a warning. What do you think?

[2022-03-02 13:52] dantownsend commented on #447
It runs a bunch of coroutines at the same time (one for each table in the database):

https://github.com/piccolo-orm/piccolo/blob/5aea0fdc4f40a99615f534ec49a38b242a5f5cb0/piccolo/apps/schema/commands/generate.py#L816

Originally it was sequential, but it took too long.

It could be modified so it's `asyncio.gather(*table_coroutines, return_exceptions=True)`. We can then work out which ones failed,

[2022-03-02 14:28] gmos commented on #446
Yup, that is the one.

Problem is that no default is required when creating a new table and when adding a column to an empty table, whereas it’s required when adding a column to a non-empty table.

So you only know for sure when either a schema extraction or a migration is running.

With a schema extraction you do not know where the extraction is used for, most likely not to add a column that alre

[2022-03-02 14:35] AliSayyah commented on #447
@dantownsend Hey there!
I would like to work on this, if possible.

[2022-03-02 15:30] gmos commented on #447
You already get the exception text printed.  Perhaps as a first step just put the table name in the text of the exceptions that Piccolo explicitly raises.

From: Daniel Townsend ***@***.***>
Sent: Wednesday, 2 March 2022 14:53
To: piccolo-orm/piccolo ***@***.***>
Cc: Gijs Mos ***@***.***>; Author ***@***.***>
Subject: Re: [piccolo-orm/piccolo] Feature request: make schema generate more verbose. (I

[2022-03-02 23:17] dantownsend commented on #447
@AliSayyah That would be great, thanks.

@gmos OK, makes sense.

[2022-03-03 12:51] dantownsend commented on #444
@trondhindenes  Interesting - thanks for checking that.

So it does seem to be a Piccolo issue then.

I just noticed that there's a `# type: ignore` comment next to the `__eq__` method:

https://github.com/piccolo-orm/piccolo/blob/5aea0fdc4f40a99615f534ec49a38b242a5f5cb0/piccolo/columns/base.py#L664

Perhaps this is indicating to Pycharm to ignore the type hints, which is why it thinks a boolean s

[2022-03-03 13:34] dantownsend commented on #444
I tried removing `type: ignore`, and it made no difference.

In my fresh install of Pycharm CE, I did a little sample project.

It seems to correctly realise that `Band.name == 'Band 1'` returns a `Where`.

<img width="686" alt="Screenshot 2022-03-03 at 08 27 32" src="https://user-images.githubusercontent.com/350976/156574557-6bf91936-6d32-45da-b38a-b3a330d603f4.png">

But thinks that `Band.manage

[2022-03-03 13:35] dantownsend commented on #446
Cool, I agree that removing it in the best option.

I'm on the road currently, but will remove it ASAP in the next release.

[2022-03-04 15:16] AliSayyah commented on #447
@dantownsend Should we actually raise the exceptions gathered, or just handle it like warnings are handled?
maybe we can add an `exception` block?

[2022-03-04 16:09] backwardspy commented on #207
i have just run into this same error when trying to add a mandatory foreign key field. i don't mind looking into the issue myself, any thoughts or pointers you can offer in the right direction would be super appreciated!

[2022-03-04 16:12] backwardspy commented on #446
would this also resolve #207? i just commented there and then noticed this issue. :)

[2022-03-04 18:04] dantownsend commented on #446
@backwardspy You're right - the underlying cause seems to be the same 👍

[2022-03-04 18:35] dantownsend commented on #447
@AliSayyah Things get tricky with `asyncio.gather` with `return_exceptions=True`, because you can end up with 10 exceptions returned.

We could print out each exception, and then raise a single generic exception at the end like `Exception('Schema generation failed')`. Whatever you think is best.

[2022-03-04 18:36] #446 closed

[2022-03-04 18:41] AliSayyah commented on #447
Yeah, because of that, I raised a single exception that includes all the exceptions gathered with `asyncio.gather` .

[code]

[2022-03-05 11:08] dantownsend commented on #207
This should be fixed now in the latest version on PyPI (0.69.4).

@backwardspy Thanks for offering to fix it. It just happened that the fix was already underway in a separate issue, otherwise would've been much appreciated. 🙏

[2022-03-05 11:08] #207 closed

[2022-03-05 17:57] ynnirc opened #451 "Performance issues"
Hey! Thanks for working on Piccolo - it's been great using it so far. I did run into a performance issue though.
This is what my tables roughly look like:
[code]

Whenever I execute a raw query like this, the performance is worse than on Tortoise, for example:
[code]

I do expect the tables to have tens of millions of entries so I am slightly concerned. Shoud I even worry about it? Thanks.

[2022-03-05 19:14] dantownsend commented on #451
@ynnirc The performance should be about the same. They both use the same database adapter under the hood (asyncpg), and the raw queries are quite a thin layer on top.

Having said that, there could be a performance bottleneck we're unaware of.

I ran the Piccolo playground targeting Postgres ([instructions here](https://piccolo-orm.readthedocs.io/en/latest/piccolo/playground/advanced.html)). Runni

[2022-03-05 19:52] ynnirc commented on #451
I am getting about 0.05 seconds per query on my Windows 10 machine with the same playground database and query. Could this perhaps be a platform-specific issue?

[2022-03-05 20:35] dantownsend commented on #451
@ynnirc It's a possibility. I might be able to test it inside a Windows 10 VM.

[2022-03-06 07:16] AliSayyah commented on #451
@dantownsend I think having a Github action for benchmarking in different platforms would be a good idea.

[2022-03-06 07:21] dantownsend commented on #451
@AliSayyah It's a good idea. It seems like Windows VMs are available. They use up twice the number of credits as Linux VMs, but shouldn't be an issue for simple performance testing.

[2022-03-06 07:31] AliSayyah commented on #451
@dantownsend Do you want me to give it a go?

[2022-03-06 07:45] dantownsend commented on #451
@AliSayyah If you don't mind that would be great.

I've been looking at options for profiling. In the past I used cprofile, but came across these other options too:

 * https://github.com/gaogaotiantian/viztracer
 * https://github.com/joerick/pyinstrument

They all basically do the same job though.

[2022-03-06 07:56] AliSayyah commented on #451
@dantownsend Thank you. I'll check them out.

[2022-03-06 23:16] dantownsend commented on #363
The situation has been improved by https://github.com/piccolo-orm/piccolo/pull/449

It won't crash on index parsing anymore, and will print out any problematic indexes which can't be parsed.

These are examples of problematic indexes I've encountered (as already mentioned, composite indexes are most common):

[code]

At some point the regex needs improving, and Piccolo needs to support composite u

[2022-03-08 00:38] dantownsend commented on #451
@ynnirc We've done a bunch of research into this.

We haven't identified whether there's a problem on Windows yet.

However, we've run a profiler on Piccolo. We've made a few optimisations, which have been released to PyPI. I think the changes are most noticeable if you're pulling lots of rows from the database.

The thing which will make the biggest difference to performance is [making sure a con

[2022-03-09 09:55] #417 closed

[2022-03-09 10:03] dantownsend commented on #417
This should be fixed now - thanks.

[2022-03-09 11:02] dantownsend commented on #367
You're right - this needs fixing. Timezones melt my brain, which is why I haven't tried tackling it sooner.

Having two separate classes could work.

[2022-03-09 11:21] dantownsend commented on #429
It's an interesting idea. I've never tried creating an array of foreign keys, so not sure what's possible.

[2022-03-13 06:08] fiolet069 opened #461 "When table contains ForeignKey(null=False) using ModelBuilder.build_sync(SomeTable) raises error"
Hi, maybe I've found bug.

I have this scheme:

    class AppUser(Table):
        email = Varchar(unique=True)
        password = Varchar()

    class Book(Table):
        name = Varchar(length=50)
        app_user = ForeignKey(
            references='AppUser',
            null=False,
        )

When I use ModelBuilder to create book in DB I get error ValueError.
Code for creation record in db:

[2022-03-13 07:37] dantownsend commented on #461
@fiolet069 Thanks for reporting this - you're right, it does seem to be a bug. Looking into it.

[2022-03-13 07:42] dantownsend commented on #461
I found the issue - will push a fix asap.

[2022-03-13 08:05] fiolet069 commented on #461
@dantownsend Thank you for so great tool.

[2022-03-13 08:30] #461 closed

[2022-03-13 08:39] dantownsend commented on #461
The fix is on PyPI now - version 0.71.1. Hopefully should fix the problem. Thanks again for reporting this 👍

[2022-03-20 01:24] smythp opened #465 "the 'package' argument is required to perform a relative import"
My apologies if this is a basic question, but I'm getting an error when attempting to perform an auto migration with postgres.

[code]

The rest of the output suggests usage for the migrations command, but the command does not seem malformed, and I've checked the package name. What could be causing this?

[2022-03-20 04:47] smythp commented on #465
I realized there were hidden files in my migrations folder that triggered the error. After clearing out those files, the migration worked. Closing, with thanks.

[2022-03-20 04:47] #465 closed

[2022-03-20 06:45] dantownsend commented on #465
No problem - glad you got it sorted. 👍

[2022-03-24 03:07] smythp opened #467 "Choices enum not reflected in Swagger"
I'm using Piccolo with FastAPI, which generates documentation in Swagger. In my tables file, I've created a table (relationship) that has a field based on an enum

[code]

When I use create_pydantic_model to generate a pydantic model based on the table, I had expected the "choices" field to get passed along to Swagger, but that doesn't seem to be the case. Swagger treats it as a vanilla string.

I

[2022-03-24 09:32] dantownsend commented on #467
@smythp Thanks for reporting this issue. You're right, the column choices don't currently reflect properly in the Pydantic schema.

If we have the following table:

[code]

It should becomes this Pydantic model:

[code]

The code responsible is here:

https://github.com/piccolo-orm/piccolo/blob/52f01aebbea0e1e1d22d4ba8decae6749ccd7dee/piccolo/utils/pydantic.py#L210-L229

If the column has defaults

[2022-03-24 11:50] dantownsend commented on #467
One other workaround for now, instead of defining the entire Pydantic model from scratch, you can override some of the fields:

[code]

[2022-03-25 05:53] dantownsend commented on #467
@smythp Cool, thanks

[2022-03-25 17:32] theelderbeever opened #472 "AsyncPG fails with setuptools >60.10.0"
AsyncPG has started failing to install due to updates to setuptools. Piccolo may need updated to the latest version of Asyncpg once the fix makes it into a release (its in asyncpg master at the time of this issue).

Open setuptools issue: https://github.com/pypa/setuptools/issues/3199

Asyncpg fix: https://github.com/tapicer/asyncpg/commit/9ee0e4a04e8690d0a7fd534153b3f733de92c672

[2022-03-25 17:43] dantownsend commented on #472
@theelderbeever Thanks for reporting this. I haven't run into this problem yet, as I'm running an older version of setuptools.

I'll keep an eye out for a new asyncpg release. If you notice before I do, will you post a message here?

[2022-03-25 18:05] theelderbeever commented on #472
Yep absolutely can do!

[2022-03-25 18:11] dantownsend commented on #472
Great, thanks

[2022-03-30 15:12] worldofgeese opened #476 "CockroachDB support"
Any chance of supporting CockroachDB? I have a Flask project I'd like to use Piccolo in.

[2022-03-31 05:57] sinisaos commented on #476
@dantownsend I've never used CockroachDB and I don't know if this is relevant but I managed to connect to the database with `PostgresEngine` like this
[code]
I had to remove the `uuid-ossp` from [this line](https://github.com/piccolo-orm/piccolo/blob/d01066002e9932ff7b7ea7e2e678b8a54faf666c/piccolo/engine/postgres.py#L248) because this extension is not currently supported in CockroachDB (uuid will

[2022-03-31 06:30] dantownsend commented on #476
@sinisaos Thanks for looking into it - that's very helpful.

It seems like we could support CockroachDB without too many changes.

I assume that `Timestamptz` fails because the default value of `current_timestamp` isn't supported. This could be worked around.

How easy did you find it to install CockroachDB locally? We would also need to work out how to run it in GitHub Actions for our test suite.

[2022-03-31 07:43] sinisaos commented on #476
Local installation is quite simple ([linux](https://www.cockroachlabs.com/docs/v21.2/install-cockroachdb-linux), [mac](https://www.cockroachlabs.com/docs/v21.2/install-cockroachdb-mac)).
For my attempt, I launched an [insecure cluster](https://www.cockroachlabs.com/docs/v21.2/start-a-local-cluster), but a [secure cluster](https://www.cockroachlabs.com/docs/v21.2/secure-a-cluster) should not be dif

[2022-04-01 14:30] dantownsend commented on #476
@sinisaos Thanks, I'll try and get it running locally.

[2022-04-05 06:32] dashsatish commented on #56
Fixed as of 0.72.0!

[2022-04-05 06:32] #56 closed

[2022-04-05 06:35] dashsatish opened #478 "[Questions] DB connection pool for long running process"
Hi @dantownsend
Is there a way we can create a DB connection pool for a long running Python process.
For FastAPI server I can see the docs at https://piccolo-orm.readthedocs.io/en/latest/piccolo/engines/postgres_engine.html#connection-pool

Couldn't find a related doc for a long running python process, more importantly running it as a sync command.

Any help would be appreciated.

[2022-04-05 08:05] dantownsend commented on #478
Hi @dashsatish.

You could try something like this:

[code]

If you create lots of processes (perhaps using `ProcessPoolExecutor`) there's the possibility of having many connection pools. You can specify a smaller pool size - if it's sync anyway, you probably only need a pool size of 1.

[code]

Does that help?

[2022-04-05 13:33] dashsatish commented on #478
Perfecto! Thanks a lot Daniel. Can we add in some docs under some section would be super useful (I believe teams spinning worker processes to consume events might need this)

[2022-04-05 17:19] dantownsend commented on #478
You're right, it should be mentioned in the docs that a connection pool can be started synchronously.

You can configure the pool with certain parameters which controls how fresh it is:

https://github.com/MagicStack/asyncpg/blob/bd192623d05668b5919d55d3b9a62629594e2fb7/asyncpg/pool.py#L1016-L1026

For example, you can set `max_queries` and `max_inactive_connection_lifetime`. You can pass these va

[2022-04-07 17:19] dantownsend commented on #476
I think this is a cool idea, and is definitely possible. I won't be able to pick it up immediately though, so if anyone wants to take a look feel free.

[2022-04-08 11:36] dashsatish commented on #478
Should I keep this open or close it?

[2022-04-08 11:42] dashsatish opened #479 "[Need a fix] Migration failed to create a table named "check""
@dantownsend

I found "check" might be some reserved keyword. So creating a table named "check" failed with the below error:
[code]

To reproduce:
==========
- Define the below table class.
[code]
- Generate auto migration
- Run the migration

NOTE: There might be some keywords too like the one "order" which was fixed a while back.

- It will also help if there is a "verbose" sub-command to see lo

[2022-04-08 11:47] dashsatish commented on #142
@dantownsend Did you have a look at ^^. Believe to be a good feature to have, where one can use specific engine objects while querying a table.

[2022-04-08 12:23] dantownsend commented on #479
@dashsatish Thanks for reporting this. I'll investigate.

For a better stack trace, try adding `--trace` to the end. I've opened a PR in targ, which is the CLI library we use, to tell the users about this option: https://github.com/piccolo-orm/targ/pull/15

[2022-04-08 13:23] dantownsend commented on #142
@dashsatish I was thinking about this the other day.

I do think it's a good idea. Just need to work out what the API would look like. As you mention, Django has routers which determine what to use for read / write etc. That's one option.

Another option which would fit quite easily into Piccolo is:

[code]

At the moment, Piccolo expects `DB` in `piccolo_conf.py` to be a single `Engine` instance.

[2022-04-08 16:25] #142 closed

[2022-04-08 16:29] dantownsend commented on #142
I've implemented a first version - will release it now. There's future scope for adding routers etc like in Django, but hopefully this helps.

[2022-04-08 18:17] theelderbeever opened #482 "Transaction object has no method add"
I am attempting to use a transaction in one of my migrations however, I am unable to add to the transaction due to the `add` method not existing.  I believe I am following the docs [here](https://piccolo-orm.readthedocs.io/en/0.7.7/piccolo/query_types/transactions.html) correctly.

The error

running 2022-04-08T10:51:00:796722
The command failed.
'Transaction' object has no attribute 'add'

This i

[2022-04-08 20:52] dantownsend commented on #482
Yeah, there's two approaches to transactions. One is using [atomic](https://piccolo-orm.readthedocs.io/en/latest/piccolo/query_types/transactions.html#atomic).

To use this you just need to tweak your code:

[code]

There's another approach which uses a [context manager](https://piccolo-orm.readthedocs.io/en/latest/piccolo/query_types/transactions.html#transaction):

[code]
It uses some Python bla

[2022-04-09 14:49] theelderbeever commented on #482
Okay awesome I will give that a go!

[2022-04-09 14:49] #482 closed

[2022-04-09 21:42] dantownsend opened #485 "Add operator support to Timestamptz updates"
### Discussed in https://github.com/piccolo-orm/piccolo/discussions/483

Allow batch updating timestamp values in the database. For example:

[code]

[2022-04-10 15:26] dashsatish commented on #479
Thanks Daniel. For now I have used the `tablename` option as defined in the piccolo docs.

[2022-04-10 15:36] dashsatish commented on #142
@dantownsend This is an awesome start ! 🙂. The one with the `EngineRouter` seems more API user-friendly. Perhaps we can get to that in the future versions? Hopefully the backward compatibility can still be maintained.

[2022-04-10 20:59] dantownsend commented on #142
@satishdash Yeah, we can definitely build on top of it.

Something like this perhaps:

[code]

Once an API design has been settled on, it shouldn't be too hard to implement. If you have any ideas for an API let me know.

[2022-04-13 20:35] #485 closed

[2022-04-15 06:22] sinisaos commented on #418
@dantownsend I think you can close this because it's done.

[2022-04-15 07:21] dantownsend commented on #418
I've opened an issue in the targ library so track the outstanding work.

https://github.com/piccolo-orm/targ/issues/16

[2022-04-15 07:21] #418 closed

[2022-04-15 20:52] scott2b opened #487 "Feature request: abstract db driver exceptions to common exceptions provided by piccolo"
## For consideration: abstract and more semantically meaningful object-centric exceptions

This may be a matter of opinion, but I feel that one of the key features of an ORM is typically to abstract away the db driver stuff so that an application is not littered with driver-specific handling in code that is otherwise business object-centric.

As a case in point, inserting or creating an object wit

[2022-04-15 20:59] dantownsend commented on #487
I totally agree - this needs looking in to. Will start researching it.

[2022-04-18 16:44] dashsatish opened #489 "[Question] Is there a way to run a raw SQL Query against a random table without model mapping"
Hi,
Can a raw sql query be executed without a model by just using the `DB` engine instance which might be connected to a random database?
SQLAlchemy has this feature to run a select query once a connection with a database is established. And use the cursor to fetch rows and read the values. Is it something possible in Piccolo to do?
Nice to have.

For example I tried this in a piccolo shell but it

[2022-04-18 16:55] dantownsend commented on #489
@dashsatish Yes, it's possible.

You first need to get a reference to the engine. There are two ways of doing this:

[code]

Once you have the engine, you can access raw asyncpg connections:

[code]
It's not really a documented thing, and requires some knowledge of the Piccolo internals (especially [PostgresEngine](https://github.com/piccolo-orm/piccolo/blob/master/piccolo/engine/postgres.py)). It

[2022-04-18 16:56] dantownsend commented on #489
@dashsatish I've come across similar errors in the terminal before. For me, it was because uvloop was installed - it doesn't seem to play nicely with terminals.